Listen/OrderAndOrderItem.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : {
        "8005761b-d2a4-3a58-ac6a-0303c4402fbd" : {
          "identifier" : "8005761b-d2a4-3a58-ac6a-0303c4402fbd",
          "name" : "MsSqlConnector(92)"
        }
      },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 3000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "937d6c43-42a0-3d37-a7f0-fea5efb0891e",
            "instanceIdentifier" : "1c693eb0-0183-1000-0000-0000736351a1",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "c8a67ddb-46fc-3b93-8778-9b372bdd12e0",
          "instanceIdentifier" : "1c6952ed-0183-1000-ffff-fffff981118a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "sql" ],
          "source" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "92e32c10-a4a9-3563-881d-2ba788420225",
            "instanceIdentifier" : "e33f3c55-3754-1a73-ae2a-d25e4bc00494",
            "name" : "ConvertJSONToSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "7f6a8bf5-cdc1-32c4-884f-8fed785c2fd2",
            "instanceIdentifier" : "6c673f74-8756-1d59-b7a5-45f4f0e1e0f1",
            "name" : "ConvertJSONToSQL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "4b3911b7-6e00-3946-83a7-bc9f700fdf3d",
          "instanceIdentifier" : "9e583f3e-7b05-1ec6-8c27-b3e1ed9339a5",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "895b5593-5aca-35a8-a0e9-e650c0df36d2",
            "instanceIdentifier" : "93bd3d18-f712-1fc1-84c7-6c95ca0784b1",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "3babc2a7-392d-3db9-b342-628b5d66d3d1",
            "instanceIdentifier" : "a9f03ad8-1d9f-130c-a523-374b83f56ad2",
            "name" : "PutSQL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "1de34650-c2d2-3a96-9658-d571dd8b1896",
          "instanceIdentifier" : "dbe8371f-f114-1062-9244-1f769ae17651",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "sql" ],
          "source" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "92e32c10-a4a9-3563-881d-2ba788420225",
            "instanceIdentifier" : "e33f3c55-3754-1a73-ae2a-d25e4bc00494",
            "name" : "ConvertJSONToSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "f11868be-1bce-38b2-a44f-1833b574caac",
            "id" : "cb011f45-9d88-33f5-bdfe-2c79210ae4d3",
            "instanceIdentifier" : "ea2a3e68-1d49-18df-a075-5542e231a479",
            "name" : "InputPortOrderItemInsert",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "49fd94ab-5019-3d00-9b63-21cc5b22bb55",
          "instanceIdentifier" : "13063193-0a01-173c-83ec-45d335722339",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "3b47fe45-dbe7-3e52-82cd-805c437c1a7a",
            "instanceIdentifier" : "d01236b6-2f00-19df-922c-16f3fa242e02",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : -656.9817770728387,
            "y" : -546.5070364635852
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "769f2490-75e4-3d59-8391-024583c905cf",
            "instanceIdentifier" : "81d83a9f-5d59-1962-a40d-9ef108cd77f1",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "6d4f3baa-8d55-3dc2-8d20-f0612f52ae7a",
          "instanceIdentifier" : "c637381d-2127-1f8d-b642-06c07fd8beaa",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "478c6694-e27c-3999-a6a8-6c341a1d9072",
            "id" : "3ba043eb-4059-39a6-bef4-b73c90a0f488",
            "instanceIdentifier" : "3fda3710-6daf-18e6-b068-437bae45aeb6",
            "name" : "Output_Invoke_HTTP",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "33b87fe5-0662-385a-bb50-337b329ac9e2",
            "instanceIdentifier" : "22b9319f-71fc-1fa6-a657-06fd2bfbf41f",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "f774a98b-8f03-3008-ac18-e3efb5410232",
          "instanceIdentifier" : "1ed530f5-c75e-1996-bf48-0bda99912a74",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "b2dfec6b-d88c-36bc-b853-f795bec5f084",
            "instanceIdentifier" : "fdb532bf-87bf-167a-9406-dab46555ceb0",
            "name" : "ConvertAvroToJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "478c6694-e27c-3999-a6a8-6c341a1d9072",
            "id" : "63e57c94-6ea0-3ea9-93f8-b8e9e69d37b1",
            "instanceIdentifier" : "e57a3ba5-33cd-10fa-95b9-2fb113de80c2",
            "name" : "Input_Invoke_HTTP",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "b6a4af10-2aa9-3eeb-ab65-a004a87e6e99",
          "instanceIdentifier" : "079f3d01-a9a0-1287-be6f-36c3f15db3ae",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "769f2490-75e4-3d59-8391-024583c905cf",
            "instanceIdentifier" : "81d83a9f-5d59-1962-a40d-9ef108cd77f1",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "6a77b6e8-59c3-31fd-9c05-4a01fda8d9b2",
            "instanceIdentifier" : "fc5e38ae-4f7a-10d8-9b0e-646eed75e8fc",
            "name" : "PutSQL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "976dbc08-9519-3fec-855d-0c4f8b73aa8c",
          "instanceIdentifier" : "57ee3f8a-aeda-1318-84a0-77d3b2fbcf59",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "sql" ],
          "source" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "7f6a8bf5-cdc1-32c4-884f-8fed785c2fd2",
            "instanceIdentifier" : "6c673f74-8756-1d59-b7a5-45f4f0e1e0f1",
            "name" : "ConvertJSONToSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "b2dfec6b-d88c-36bc-b853-f795bec5f084",
            "instanceIdentifier" : "fdb532bf-87bf-167a-9406-dab46555ceb0",
            "name" : "ConvertAvroToJSON",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "ae6f99a9-8702-3897-b34e-9361e063f59f",
          "instanceIdentifier" : "4d57389e-8a45-1530-8531-6c60d759e4b8",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "8f0deae3-7b84-3e31-98fa-ddd279dd7108",
            "instanceIdentifier" : "b6643df8-54c2-1215-9b69-f55d29f826fd",
            "name" : "ExecuteSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "0dc555e0-cb43-3cbc-9039-753424567384",
            "instanceIdentifier" : "851b3299-7391-1dde-8287-bd8c1f7e9810",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "586b499f-b708-3299-af15-99257524ae19",
          "instanceIdentifier" : "c8293092-a3ae-1d18-ade8-b528620eedf7",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "769f2490-75e4-3d59-8391-024583c905cf",
            "instanceIdentifier" : "81d83a9f-5d59-1962-a40d-9ef108cd77f1",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "c7af7f4a-af30-33d6-a255-26d2c4864e08",
            "instanceIdentifier" : "7fd73369-bc67-1345-8059-274fc90c73b1",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "4a7626bf-1f9a-328e-93ee-c60f7fd061a6",
          "instanceIdentifier" : "fedc37a1-4381-13b9-852f-8074552d4056",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "3babc2a7-392d-3db9-b342-628b5d66d3d1",
            "instanceIdentifier" : "a9f03ad8-1d9f-130c-a523-374b83f56ad2",
            "name" : "PutSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 3000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
            "id" : "cb011f45-9d88-33f5-bdfe-2c79210ae4d3",
            "instanceIdentifier" : "291e3923-f077-162b-85f7-e2721ddaaf76",
            "name" : "InputPortOrderItemInsert",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "9e6a3458-3b54-3f6c-8cb1-4a6bb28385dd",
          "instanceIdentifier" : "1c696216-0183-1000-ffff-ffff88c98eeb",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "937d6c43-42a0-3d37-a7f0-fea5efb0891e",
            "instanceIdentifier" : "1c693eb0-0183-1000-0000-0000736351a1",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "769f2490-75e4-3d59-8391-024583c905cf",
            "instanceIdentifier" : "81d83a9f-5d59-1962-a40d-9ef108cd77f1",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "801625c0-6bba-3f1e-8bc5-b520db3c75da",
          "instanceIdentifier" : "e4df363c-9f02-1654-ad5b-8d91cc27e5f8",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "0bf1d487-363e-322d-8645-d94530e83158",
            "instanceIdentifier" : "30ef3aa4-f435-1a17-8b60-3fc1d326c1fc",
            "name" : "GenerateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "92e32c10-a4a9-3563-881d-2ba788420225",
            "instanceIdentifier" : "e33f3c55-3754-1a73-ae2a-d25e4bc00494",
            "name" : "ConvertJSONToSQL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "7e03e252-51c4-328e-8b6d-4a543199dd53",
          "instanceIdentifier" : "da863183-ffb6-1c63-af36-42e4b0124435",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "insert" ],
          "source" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "895b5593-5aca-35a8-a0e9-e650c0df36d2",
            "instanceIdentifier" : "93bd3d18-f712-1fc1-84c7-6c95ca0784b1",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 3000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "c5521ece-6a02-3dc7-b7f6-08ee3f583af1",
            "instanceIdentifier" : "6b9d3976-0f11-1b52-a51a-2e10dc4d3267",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "553b3669-72f7-324b-b2d4-e7320a3ace72",
          "instanceIdentifier" : "4fcb37ac-f8b4-12a2-ab1d-57ef32b5053a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "split" ],
          "source" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "0dc555e0-cb43-3cbc-9039-753424567384",
            "instanceIdentifier" : "851b3299-7391-1dde-8287-bd8c1f7e9810",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "a82b108c-be84-32a5-8a82-e23f30b77bb3",
            "instanceIdentifier" : "e2a83271-2279-157e-a114-984f6f21e73e",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "8b5869b6-c944-30cb-9935-5076943b64f5",
          "instanceIdentifier" : "87223c96-c258-1dc7-a3bc-974168478ce3",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "769f2490-75e4-3d59-8391-024583c905cf",
            "instanceIdentifier" : "81d83a9f-5d59-1962-a40d-9ef108cd77f1",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "c7af7f4a-af30-33d6-a255-26d2c4864e08",
            "instanceIdentifier" : "7fd73369-bc67-1345-8059-274fc90c73b1",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "68b1a14b-730e-3878-ad13-645979e466a9",
          "instanceIdentifier" : "c6813490-5f2b-18fa-abf3-512a82597844",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "6a77b6e8-59c3-31fd-9c05-4a01fda8d9b2",
            "instanceIdentifier" : "fc5e38ae-4f7a-10d8-9b0e-646eed75e8fc",
            "name" : "PutSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 3000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "92e32c10-a4a9-3563-881d-2ba788420225",
            "instanceIdentifier" : "e33f3c55-3754-1a73-ae2a-d25e4bc00494",
            "name" : "ConvertJSONToSQL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "26f4893d-5695-3704-8177-021c31f60889",
          "instanceIdentifier" : "ae7e38cf-5cca-1be2-9a7f-389b51ecf6dc",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "c5521ece-6a02-3dc7-b7f6-08ee3f583af1",
            "instanceIdentifier" : "6b9d3976-0f11-1b52-a51a-2e10dc4d3267",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "3b47fe45-dbe7-3e52-82cd-805c437c1a7a",
            "instanceIdentifier" : "d01236b6-2f00-19df-922c-16f3fa242e02",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "d545f9c4-a9fd-3d35-a795-6bc908a7d3dc",
          "instanceIdentifier" : "13063197-0a01-173c-0000-00004bf3c006",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "sql" ],
          "source" : {
            "comments" : "",
            "groupId" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
            "id" : "7f6a8bf5-cdc1-32c4-884f-8fed785c2fd2",
            "instanceIdentifier" : "6c673f74-8756-1d59-b7a5-45f4f0e1e0f1",
            "name" : "ConvertJSONToSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "a82b108c-be84-32a5-8a82-e23f30b77bb3",
          "instanceIdentifier" : "e2a83271-2279-157e-a114-984f6f21e73e",
          "position" : {
            "x" : -572.8281706580437,
            "y" : -374.9116385143665
          }
        }, {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "c7af7f4a-af30-33d6-a255-26d2c4864e08",
          "instanceIdentifier" : "7fd73369-bc67-1345-8059-274fc90c73b1",
          "position" : {
            "x" : -396.82817065804375,
            "y" : 705.0883614856335
          }
        } ],
        "identifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
        "inputPorts" : [ ],
        "instanceIdentifier" : "ff3c393d-065b-13f0-9041-2e31dc79347e",
        "labels" : [ ],
        "name" : "OrderAndOrderItem",
        "outputPorts" : [ ],
        "parameterContextName" : "Connector",
        "position" : {
          "x" : 2152.0,
          "y" : 312.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "478c6694-e27c-3999-a6a8-6c341a1d9072",
              "id" : "269fb7e2-e4e4-3f67-802a-9688c9ccb352",
              "instanceIdentifier" : "398c376c-7830-187e-b08e-9b2bc4e30c19",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "478c6694-e27c-3999-a6a8-6c341a1d9072",
            "identifier" : "4a1a49a7-cf5a-311f-853d-fce36b8f49fa",
            "instanceIdentifier" : "918a3af5-78bd-116f-ad5a-db9f84eb57b2",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "next" ],
            "source" : {
              "comments" : "",
              "groupId" : "478c6694-e27c-3999-a6a8-6c341a1d9072",
              "id" : "73829df3-bcd4-3a86-8a50-4b91a27b36f5",
              "instanceIdentifier" : "ff5d38a2-24e2-18c1-8ce7-0f316764afcc",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "478c6694-e27c-3999-a6a8-6c341a1d9072",
              "id" : "85eaab5c-c438-3344-87e9-4e751cfb9bd6",
              "instanceIdentifier" : "c65139a0-e302-1c48-a62d-f0f5475cd1d8",
              "name" : "JoltTransformJSON",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "478c6694-e27c-3999-a6a8-6c341a1d9072",
            "identifier" : "0323a40f-9465-353e-9796-a75bef1a23b7",
            "instanceIdentifier" : "945f36f8-eb6f-1034-8157-26396df562c8",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "478c6694-e27c-3999-a6a8-6c341a1d9072",
              "id" : "63e57c94-6ea0-3ea9-93f8-b8e9e69d37b1",
              "instanceIdentifier" : "e57a3ba5-33cd-10fa-95b9-2fb113de80c2",
              "name" : "Input_Invoke_HTTP",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "478c6694-e27c-3999-a6a8-6c341a1d9072",
              "id" : "73829df3-bcd4-3a86-8a50-4b91a27b36f5",
              "instanceIdentifier" : "ff5d38a2-24e2-18c1-8ce7-0f316764afcc",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "478c6694-e27c-3999-a6a8-6c341a1d9072",
            "identifier" : "d3330ec5-8ce8-3782-99d7-f6483d8e51e1",
            "instanceIdentifier" : "88b03451-ed44-1303-be9d-e8198da712db",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "478c6694-e27c-3999-a6a8-6c341a1d9072",
              "id" : "20820c2d-8d4a-37f1-a70d-11a67657d1a8",
              "instanceIdentifier" : "e1a53357-4612-1e1d-a6b3-f68b2d21296b",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "478c6694-e27c-3999-a6a8-6c341a1d9072",
              "id" : "3ba043eb-4059-39a6-bef4-b73c90a0f488",
              "instanceIdentifier" : "3fda3710-6daf-18e6-b068-437bae45aeb6",
              "name" : "Output_Invoke_HTTP",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "478c6694-e27c-3999-a6a8-6c341a1d9072",
            "identifier" : "5d4b21fd-3823-31c0-8538-dee190566bc0",
            "instanceIdentifier" : "3fe13ad8-25c8-1889-b9bb-e14f305585e4",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "478c6694-e27c-3999-a6a8-6c341a1d9072",
              "id" : "269fb7e2-e4e4-3f67-802a-9688c9ccb352",
              "instanceIdentifier" : "398c376c-7830-187e-b08e-9b2bc4e30c19",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "478c6694-e27c-3999-a6a8-6c341a1d9072",
              "id" : "20820c2d-8d4a-37f1-a70d-11a67657d1a8",
              "instanceIdentifier" : "e1a53357-4612-1e1d-a6b3-f68b2d21296b",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "478c6694-e27c-3999-a6a8-6c341a1d9072",
            "identifier" : "db2a8d32-6e13-31be-b4ef-ced4ee803028",
            "instanceIdentifier" : "bd453e50-37b1-175a-8f64-515764e600eb",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "478c6694-e27c-3999-a6a8-6c341a1d9072",
              "id" : "85eaab5c-c438-3344-87e9-4e751cfb9bd6",
              "instanceIdentifier" : "c65139a0-e302-1c48-a62d-f0f5475cd1d8",
              "name" : "JoltTransformJSON",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "478c6694-e27c-3999-a6a8-6c341a1d9072",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "478c6694-e27c-3999-a6a8-6c341a1d9072",
            "identifier" : "63e57c94-6ea0-3ea9-93f8-b8e9e69d37b1",
            "instanceIdentifier" : "e57a3ba5-33cd-10fa-95b9-2fb113de80c2",
            "name" : "Input_Invoke_HTTP",
            "position" : {
              "x" : 464.0,
              "y" : -216.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "13ce3d3a-74d1-13ce-805c-1f3d3b26242e",
          "labels" : [ ],
          "name" : "cycle",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "478c6694-e27c-3999-a6a8-6c341a1d9072",
            "identifier" : "3ba043eb-4059-39a6-bef4-b73c90a0f488",
            "instanceIdentifier" : "3fda3710-6daf-18e6-b068-437bae45aeb6",
            "name" : "Output_Invoke_HTTP",
            "position" : {
              "x" : 448.0,
              "y" : -488.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : -460.82817065804375,
            "y" : -566.9116385143665
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "stop", "unmatched" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.17.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "478c6694-e27c-3999-a6a8-6c341a1d9072",
            "identifier" : "73829df3-bcd4-3a86-8a50-4b91a27b36f5",
            "instanceIdentifier" : "ff5d38a2-24e2-18c1-8ce7-0f316764afcc",
            "maxBackoffPeriod" : "10 mins",
            "name" : "RouteOnAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1616.0,
              "y" : -512.0
            },
            "properties" : {
              "next" : "${status:equals('next')}",
              "Routing Strategy" : "Route to Property name",
              "stop" : "${status:equals('stop')}"
            },
            "propertyDescriptors" : {
              "next" : {
                "displayName" : "next",
                "identifiesControllerService" : false,
                "name" : "next",
                "sensitive" : false
              },
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              },
              "stop" : {
                "displayName" : "stop",
                "identifiesControllerService" : false,
                "name" : "stop",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "unmatched" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.17.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "478c6694-e27c-3999-a6a8-6c341a1d9072",
            "identifier" : "20820c2d-8d4a-37f1-a70d-11a67657d1a8",
            "instanceIdentifier" : "e1a53357-4612-1e1d-a6b3-f68b2d21296b",
            "maxBackoffPeriod" : "10 mins",
            "name" : "EvaluateJsonPath",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1624.0,
              "y" : -152.0
            },
            "properties" : {
              "Destination" : "flowfile-attribute",
              "Return Type" : "auto-detect",
              "Null Value Representation" : "empty string",
              "Path Not Found Behavior" : "ignore",
              "status" : "$.status"
            },
            "propertyDescriptors" : {
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              },
              "status" : {
                "displayName" : "status",
                "identifiesControllerService" : false,
                "name" : "status",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.17.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "478c6694-e27c-3999-a6a8-6c341a1d9072",
            "identifier" : "269fb7e2-e4e4-3f67-802a-9688c9ccb352",
            "instanceIdentifier" : "398c376c-7830-187e-b08e-9b2bc4e30c19",
            "maxBackoffPeriod" : "10 mins",
            "name" : "UpdateAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 968.0,
              "y" : -504.0
            },
            "properties" : {
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100",
              "page" : "${page:plus(1)}"
            },
            "propertyDescriptors" : {
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "page" : {
                "displayName" : "page",
                "identifiesControllerService" : false,
                "name" : "page",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.17.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "478c6694-e27c-3999-a6a8-6c341a1d9072",
            "identifier" : "85eaab5c-c438-3344-87e9-4e751cfb9bd6",
            "instanceIdentifier" : "c65139a0-e302-1c48-a62d-f0f5475cd1d8",
            "maxBackoffPeriod" : "10 mins",
            "name" : "JoltTransformJSON",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 968.0,
              "y" : -144.0
            },
            "properties" : {
              "jolt-spec" : "[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"data\": {\n        \"*\": \"&\"\n      }\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"#test\": \"-1.id\",\n      \"*\": \"&\"\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"0\": {\n        \"*\": {\n          \"#next\": \"status\"\n        }\n      },\n      \"-1\": {\n        \"*\": {\n          \"#stop\": \"status\"\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"status\": \"=firstElement(@(1,status))\"\n    }\n  }\n]\n",
              "jolt-transform" : "jolt-transform-chain",
              "pretty_print" : "false",
              "Transform Cache Size" : "1"
            },
            "propertyDescriptors" : {
              "jolt-spec" : {
                "displayName" : "Jolt Specification",
                "identifiesControllerService" : false,
                "name" : "jolt-spec",
                "sensitive" : false
              },
              "jolt-transform" : {
                "displayName" : "Jolt Transformation DSL",
                "identifiesControllerService" : false,
                "name" : "jolt-transform",
                "sensitive" : false
              },
              "jolt-custom-class" : {
                "displayName" : "Custom Transformation Class Name",
                "identifiesControllerService" : false,
                "name" : "jolt-custom-class",
                "sensitive" : false
              },
              "jolt-custom-modules" : {
                "displayName" : "Custom Module Directory",
                "identifiesControllerService" : false,
                "name" : "jolt-custom-modules",
                "resourceDefinition" : {
                  "cardinality" : "MULTIPLE",
                  "resourceTypes" : [ "FILE", "DIRECTORY" ]
                },
                "sensitive" : false
              },
              "pretty_print" : {
                "displayName" : "Pretty Print",
                "identifiesControllerService" : false,
                "name" : "pretty_print",
                "sensitive" : false
              },
              "Transform Cache Size" : {
                "displayName" : "Transform Cache Size",
                "identifiesControllerService" : false,
                "name" : "Transform Cache Size",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.JoltTransformJSON",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f11868be-1bce-38b2-a44f-1833b574caac",
              "id" : "57311581-5f40-30be-8f66-d3401ce65ebf",
              "instanceIdentifier" : "348b3c5b-5ca4-117f-aa58-157915f13eae",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f11868be-1bce-38b2-a44f-1833b574caac",
            "identifier" : "9a84e305-e487-37b6-9c62-2acbaa9a9105",
            "instanceIdentifier" : "133e3312-dae9-15a9-bdba-1071dcf3e9f0",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "f11868be-1bce-38b2-a44f-1833b574caac",
              "id" : "2842db2f-a3a7-3217-aaa4-b63b211d823c",
              "instanceIdentifier" : "8a093878-ddc1-11f7-93e2-7d40371d1c86",
              "name" : "PutSQL",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f11868be-1bce-38b2-a44f-1833b574caac",
              "id" : "8e933492-e082-3018-bd6b-cdd564370377",
              "instanceIdentifier" : "ccff3a39-799f-17b9-8a6e-97377ce2e01f",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f11868be-1bce-38b2-a44f-1833b574caac",
            "identifier" : "fd357500-d924-3a26-aee3-84de71da6c2d",
            "instanceIdentifier" : "f9613bbc-2911-1c13-8cfa-17334ce94da6",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "split" ],
            "source" : {
              "comments" : "",
              "groupId" : "f11868be-1bce-38b2-a44f-1833b574caac",
              "id" : "52e79397-77ac-3499-9260-ed512ab7ce25",
              "instanceIdentifier" : "0c5133e9-52fe-16f6-96f4-91b25a211933",
              "name" : "SplitJson",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f11868be-1bce-38b2-a44f-1833b574caac",
              "id" : "00c53c24-7775-3b7f-91dc-4daf1b36e41a",
              "instanceIdentifier" : "adbf3d7e-57d9-148e-b7f9-af77e57dfc7f",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f11868be-1bce-38b2-a44f-1833b574caac",
            "identifier" : "e3888aec-319a-3cee-80ae-0a20be8bd6ef",
            "instanceIdentifier" : "a907350b-99dd-1ec0-83c8-607215f06fe2",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "f11868be-1bce-38b2-a44f-1833b574caac",
              "id" : "ccb6d998-6a3c-3223-b29e-06f8784f1a7c",
              "instanceIdentifier" : "7f1d36a7-4776-1b70-be5e-6dc25fa281b1",
              "name" : "InvokeHTTP",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f11868be-1bce-38b2-a44f-1833b574caac",
              "id" : "ccb6d998-6a3c-3223-b29e-06f8784f1a7c",
              "instanceIdentifier" : "7f1d36a7-4776-1b70-be5e-6dc25fa281b1",
              "name" : "InvokeHTTP",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f11868be-1bce-38b2-a44f-1833b574caac",
            "identifier" : "654e55d2-b72d-399d-8035-f8bae2bca1f7",
            "instanceIdentifier" : "462c314d-e75b-1069-be9f-9a4aace60573",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "f11868be-1bce-38b2-a44f-1833b574caac",
              "id" : "cb011f45-9d88-33f5-bdfe-2c79210ae4d3",
              "instanceIdentifier" : "ea2a3e68-1d49-18df-a075-5542e231a479",
              "name" : "InputPortOrderItemInsert",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f11868be-1bce-38b2-a44f-1833b574caac",
              "id" : "2842db2f-a3a7-3217-aaa4-b63b211d823c",
              "instanceIdentifier" : "8a093878-ddc1-11f7-93e2-7d40371d1c86",
              "name" : "PutSQL",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f11868be-1bce-38b2-a44f-1833b574caac",
            "identifier" : "9ba2e2c1-aff5-3499-a576-c4e17b990ead",
            "instanceIdentifier" : "6e163f6e-1117-11f7-ada3-490a9860349e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "sql" ],
            "source" : {
              "comments" : "",
              "groupId" : "f11868be-1bce-38b2-a44f-1833b574caac",
              "id" : "ded8edd3-b4b9-344e-a038-42920d3abd03",
              "instanceIdentifier" : "3b013884-bef8-1404-a1f3-85d52406b3eb",
              "name" : "ConvertJSONToSQL",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f11868be-1bce-38b2-a44f-1833b574caac",
              "id" : "52e79397-77ac-3499-9260-ed512ab7ce25",
              "instanceIdentifier" : "0c5133e9-52fe-16f6-96f4-91b25a211933",
              "name" : "SplitJson",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f11868be-1bce-38b2-a44f-1833b574caac",
            "identifier" : "52014939-d7a8-3c5f-b52b-604e3b8e715d",
            "instanceIdentifier" : "62753509-b73b-1236-8d6d-3d8d6c5add2e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Response" ],
            "source" : {
              "comments" : "",
              "groupId" : "f11868be-1bce-38b2-a44f-1833b574caac",
              "id" : "ccb6d998-6a3c-3223-b29e-06f8784f1a7c",
              "instanceIdentifier" : "7f1d36a7-4776-1b70-be5e-6dc25fa281b1",
              "name" : "InvokeHTTP",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "f11868be-1bce-38b2-a44f-1833b574caac",
              "id" : "ded8edd3-b4b9-344e-a038-42920d3abd03",
              "instanceIdentifier" : "3b013884-bef8-1404-a1f3-85d52406b3eb",
              "name" : "ConvertJSONToSQL",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "f11868be-1bce-38b2-a44f-1833b574caac",
            "identifier" : "71b02e93-1119-3084-a9f2-ef37cd404b16",
            "instanceIdentifier" : "6b6830ed-ca91-1e7a-ab4b-4b03bade2622",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "f11868be-1bce-38b2-a44f-1833b574caac",
              "id" : "8e933492-e082-3018-bd6b-cdd564370377",
              "instanceIdentifier" : "ccff3a39-799f-17b9-8a6e-97377ce2e01f",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "f11868be-1bce-38b2-a44f-1833b574caac",
            "identifier" : "57311581-5f40-30be-8f66-d3401ce65ebf",
            "instanceIdentifier" : "348b3c5b-5ca4-117f-aa58-157915f13eae",
            "position" : {
              "x" : 1776.0,
              "y" : 864.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "f11868be-1bce-38b2-a44f-1833b574caac",
            "identifier" : "00c53c24-7775-3b7f-91dc-4daf1b36e41a",
            "instanceIdentifier" : "adbf3d7e-57d9-148e-b7f9-af77e57dfc7f",
            "position" : {
              "x" : 1048.0,
              "y" : 184.0
            }
          } ],
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "f11868be-1bce-38b2-a44f-1833b574caac",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "f11868be-1bce-38b2-a44f-1833b574caac",
            "identifier" : "cb011f45-9d88-33f5-bdfe-2c79210ae4d3",
            "instanceIdentifier" : "ea2a3e68-1d49-18df-a075-5542e231a479",
            "name" : "InputPortOrderItemInsert",
            "position" : {
              "x" : 160.0,
              "y" : -176.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "049235d3-0574-1bff-95c8-11a5b24b4335",
          "labels" : [ ],
          "name" : "Copy of insert_order_item",
          "outputPorts" : [ ],
          "parameterContextName" : "Connector",
          "position" : {
            "x" : 376.0,
            "y" : 568.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "original", "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.17.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "f11868be-1bce-38b2-a44f-1833b574caac",
            "identifier" : "ded8edd3-b4b9-344e-a038-42920d3abd03",
            "instanceIdentifier" : "3b013884-bef8-1404-a1f3-85d52406b3eb",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ConvertJSONToSQL",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 976.0,
              "y" : 584.0
            },
            "properties" : {
              "table-schema-cache-size" : "100",
              "Table Name" : "order_items",
              "jts-sql-param-attr-prefix" : "sql",
              "Unmatched Field Behavior" : "Ignore Unmatched Fields",
              "Unmatched Column Behavior" : "Fail on Unmatched Columns",
              "jts-quoted-identifiers" : "false",
              "jts-quoted-table-identifiers" : "false",
              "JDBC Connection Pool" : "8005761b-d2a4-3a58-ac6a-0303c4402fbd",
              "Update Keys" : "id",
              "Translate Field Names" : "true",
              "Statement Type" : "UPDATE"
            },
            "propertyDescriptors" : {
              "table-schema-cache-size" : {
                "displayName" : "Table Schema Cache Size",
                "identifiesControllerService" : false,
                "name" : "table-schema-cache-size",
                "sensitive" : false
              },
              "Table Name" : {
                "displayName" : "Table Name",
                "identifiesControllerService" : false,
                "name" : "Table Name",
                "sensitive" : false
              },
              "Catalog Name" : {
                "displayName" : "Catalog Name",
                "identifiesControllerService" : false,
                "name" : "Catalog Name",
                "sensitive" : false
              },
              "jts-sql-param-attr-prefix" : {
                "displayName" : "SQL Parameter Attribute Prefix",
                "identifiesControllerService" : false,
                "name" : "jts-sql-param-attr-prefix",
                "sensitive" : false
              },
              "Schema Name" : {
                "displayName" : "Schema Name",
                "identifiesControllerService" : false,
                "name" : "Schema Name",
                "sensitive" : false
              },
              "Unmatched Field Behavior" : {
                "displayName" : "Unmatched Field Behavior",
                "identifiesControllerService" : false,
                "name" : "Unmatched Field Behavior",
                "sensitive" : false
              },
              "Unmatched Column Behavior" : {
                "displayName" : "Unmatched Column Behavior",
                "identifiesControllerService" : false,
                "name" : "Unmatched Column Behavior",
                "sensitive" : false
              },
              "jts-quoted-identifiers" : {
                "displayName" : "Quote Column Identifiers",
                "identifiesControllerService" : false,
                "name" : "jts-quoted-identifiers",
                "sensitive" : false
              },
              "jts-quoted-table-identifiers" : {
                "displayName" : "Quote Table Identifiers",
                "identifiesControllerService" : false,
                "name" : "jts-quoted-table-identifiers",
                "sensitive" : false
              },
              "JDBC Connection Pool" : {
                "displayName" : "JDBC Connection Pool",
                "identifiesControllerService" : true,
                "name" : "JDBC Connection Pool",
                "sensitive" : false
              },
              "Update Keys" : {
                "displayName" : "Update Keys",
                "identifiesControllerService" : false,
                "name" : "Update Keys",
                "sensitive" : false
              },
              "Translate Field Names" : {
                "displayName" : "Translate Field Names",
                "identifiesControllerService" : false,
                "name" : "Translate Field Names",
                "sensitive" : false
              },
              "Statement Type" : {
                "displayName" : "Statement Type",
                "identifiesControllerService" : false,
                "name" : "Statement Type",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ConvertJSONToSQL",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success", "retry" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.17.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "f11868be-1bce-38b2-a44f-1833b574caac",
            "identifier" : "2842db2f-a3a7-3217-aaa4-b63b211d823c",
            "instanceIdentifier" : "8a093878-ddc1-11f7-93e2-7d40371d1c86",
            "maxBackoffPeriod" : "10 mins",
            "name" : "PutSQL",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1624.0,
              "y" : 576.0
            },
            "properties" : {
              "Support Fragmented Transactions" : "true",
              "Batch Size" : "100",
              "Obtain Generated Keys" : "false",
              "JDBC Connection Pool" : "8005761b-d2a4-3a58-ac6a-0303c4402fbd",
              "database-session-autocommit" : "false",
              "rollback-on-failure" : "false"
            },
            "propertyDescriptors" : {
              "Support Fragmented Transactions" : {
                "displayName" : "Support Fragmented Transactions",
                "identifiesControllerService" : false,
                "name" : "Support Fragmented Transactions",
                "sensitive" : false
              },
              "putsql-sql-statement" : {
                "displayName" : "SQL Statement",
                "identifiesControllerService" : false,
                "name" : "putsql-sql-statement",
                "sensitive" : false
              },
              "Transaction Timeout" : {
                "displayName" : "Transaction Timeout",
                "identifiesControllerService" : false,
                "name" : "Transaction Timeout",
                "sensitive" : false
              },
              "Batch Size" : {
                "displayName" : "Batch Size",
                "identifiesControllerService" : false,
                "name" : "Batch Size",
                "sensitive" : false
              },
              "Obtain Generated Keys" : {
                "displayName" : "Obtain Generated Keys",
                "identifiesControllerService" : false,
                "name" : "Obtain Generated Keys",
                "sensitive" : false
              },
              "JDBC Connection Pool" : {
                "displayName" : "JDBC Connection Pool",
                "identifiesControllerService" : true,
                "name" : "JDBC Connection Pool",
                "sensitive" : false
              },
              "database-session-autocommit" : {
                "displayName" : "Database Session AutoCommit",
                "identifiesControllerService" : false,
                "name" : "database-session-autocommit",
                "sensitive" : false
              },
              "rollback-on-failure" : {
                "displayName" : "Rollback On Failure",
                "identifiesControllerService" : false,
                "name" : "rollback-on-failure",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.PutSQL",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.17.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "f11868be-1bce-38b2-a44f-1833b574caac",
            "identifier" : "ccb6d998-6a3c-3223-b29e-06f8784f1a7c",
            "instanceIdentifier" : "7f1d36a7-4776-1b70-be5e-6dc25fa281b1",
            "maxBackoffPeriod" : "10 mins",
            "name" : "InvokeHTTP",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 384.0,
              "y" : 96.0
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "cookie-strategy" : "DISABLED",
              "Connection Timeout" : "15 mins",
              "send-message-body" : "true",
              "Authorization" : "#{Bearer}",
              "set-form-filename" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "Content-Encoding" : "DISABLED",
              "disable-http2" : "False",
              "idle-timeout" : "30 mins",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "True",
              "Remote URL" : "#{UrlApiABOM}order-items?page_size=3000&order_id=${order_id}",
              "Content-Type" : "${mime.type}",
              "flow-file-naming-strategy" : "RANDOM",
              "max-idle-connections" : "5",
              "Read Timeout" : "15 mins",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "Digest Authentication" : "false",
              "HTTP Method" : "GET",
              "Add Response Headers to Request" : "false",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "false"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Request Header Attributes Pattern",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Response Cache Enabled",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Request Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "cookie-strategy" : {
                "displayName" : "Response Cookie Strategy",
                "identifiesControllerService" : false,
                "name" : "cookie-strategy",
                "sensitive" : false
              },
              "Connection Timeout" : {
                "displayName" : "Socket Connect Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Request Body Enabled",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "Authorization" : {
                "displayName" : "Authorization",
                "identifiesControllerService" : false,
                "name" : "Authorization",
                "sensitive" : false
              },
              "set-form-filename" : {
                "displayName" : "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService" : false,
                "name" : "set-form-filename",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Response Generation Required",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Response Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "Content-Encoding" : {
                "displayName" : "Request Content-Encoding",
                "identifiesControllerService" : false,
                "name" : "Content-Encoding",
                "sensitive" : false
              },
              "disable-http2" : {
                "displayName" : "HTTP/2 Disabled",
                "identifiesControllerService" : false,
                "name" : "disable-http2",
                "sensitive" : false
              },
              "idle-timeout" : {
                "displayName" : "Socket Idle Timeout",
                "identifiesControllerService" : false,
                "name" : "idle-timeout",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Response Body Attribute Name",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Response Redirects Enabled",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "HTTP URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "form-body-form-name" : {
                "displayName" : "Request Multipart Form-Data Name",
                "identifiesControllerService" : false,
                "name" : "form-body-form-name",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Request Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "flow-file-naming-strategy" : {
                "displayName" : "Response FlowFile Naming Strategy",
                "identifiesControllerService" : false,
                "name" : "flow-file-naming-strategy",
                "sensitive" : false
              },
              "max-idle-connections" : {
                "displayName" : "Socket Idle Connections",
                "identifiesControllerService" : false,
                "name" : "max-idle-connections",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Socket Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Response Body Attribute Size",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Response Body Ignored",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Request Digest Authentication Enabled",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Response Header Request Attributes Enabled",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "oauth2-access-token-provider" : {
                "displayName" : "Request OAuth2 Access Token Provider",
                "identifiesControllerService" : true,
                "name" : "oauth2-access-token-provider",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Request Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Request Date Header Enabled",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Request Failure Penalization Enabled",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              },
              "Useragent" : {
                "displayName" : "Request User-Agent",
                "identifiesControllerService" : false,
                "name" : "Useragent",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original", "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.17.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "f11868be-1bce-38b2-a44f-1833b574caac",
            "identifier" : "52e79397-77ac-3499-9260-ed512ab7ce25",
            "instanceIdentifier" : "0c5133e9-52fe-16f6-96f4-91b25a211933",
            "maxBackoffPeriod" : "10 mins",
            "name" : "SplitJson",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 376.0,
              "y" : 328.0
            },
            "properties" : {
              "Null Value Representation" : "empty string",
              "JsonPath Expression" : "data"
            },
            "propertyDescriptors" : {
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "JsonPath Expression" : {
                "displayName" : "JsonPath Expression",
                "identifiesControllerService" : false,
                "name" : "JsonPath Expression",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.SplitJson",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.17.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "f11868be-1bce-38b2-a44f-1833b574caac",
            "identifier" : "8e933492-e082-3018-bd6b-cdd564370377",
            "instanceIdentifier" : "ccff3a39-799f-17b9-8a6e-97377ce2e01f",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ReplaceText",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 376.0,
              "y" : 584.0
            },
            "properties" : {
              "Regular Expression" : ".$",
              "Replacement Value" : "  ,\"order_id\" : \"${order_id}\"}",
              "Evaluation Mode" : "Line-by-Line",
              "Line-by-Line Evaluation Mode" : "Last-Line",
              "Character Set" : "UTF-8",
              "Maximum Buffer Size" : "1 MB",
              "Replacement Strategy" : "Literal Replace"
            },
            "propertyDescriptors" : {
              "Regular Expression" : {
                "displayName" : "Search Value",
                "identifiesControllerService" : false,
                "name" : "Regular Expression",
                "sensitive" : false
              },
              "Replacement Value" : {
                "displayName" : "Replacement Value",
                "identifiesControllerService" : false,
                "name" : "Replacement Value",
                "sensitive" : false
              },
              "Evaluation Mode" : {
                "displayName" : "Evaluation Mode",
                "identifiesControllerService" : false,
                "name" : "Evaluation Mode",
                "sensitive" : false
              },
              "Line-by-Line Evaluation Mode" : {
                "displayName" : "Line-by-Line Evaluation Mode",
                "identifiesControllerService" : false,
                "name" : "Line-by-Line Evaluation Mode",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "Maximum Buffer Size" : {
                "displayName" : "Maximum Buffer Size",
                "identifiesControllerService" : false,
                "name" : "Maximum Buffer Size",
                "sensitive" : false
              },
              "Replacement Strategy" : {
                "displayName" : "Replacement Strategy",
                "identifiesControllerService" : false,
                "name" : "Replacement Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ReplaceText",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
              "id" : "ded8edd3-b4b9-344e-a038-42920d3abd03",
              "instanceIdentifier" : "2a303a85-7de8-1a6a-9592-7cfd866bb273",
              "name" : "ConvertJSONToSQL",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
            "identifier" : "2a43ebc5-6449-3c4f-999f-f765ea31ac31",
            "instanceIdentifier" : "1c70a50f-0183-1000-ffff-ffffcb39befb",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "ROUND_ROBIN",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
              "id" : "f4e06fcb-b35f-3d40-ad82-2e1d2027cc8d",
              "instanceIdentifier" : "1c707a6c-0183-1000-0000-00000646130b",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
              "id" : "57311581-5f40-30be-8f66-d3401ce65ebf",
              "instanceIdentifier" : "20473c3f-8345-1e70-bb5a-2164df9d1c6a",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
            "identifier" : "9a84e305-e487-37b6-9c62-2acbaa9a9105",
            "instanceIdentifier" : "21a5343a-d887-1a6e-8671-e54c49a797b1",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
              "id" : "2842db2f-a3a7-3217-aaa4-b63b211d823c",
              "instanceIdentifier" : "ae633467-be7c-1c8c-95aa-91a47c7ed106",
              "name" : "PutSQL",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
              "id" : "2cf25167-9e02-3bfa-ad6d-a07d5943f44b",
              "instanceIdentifier" : "1c82719d-0183-1000-ffff-ffffb47ee68f",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
            "identifier" : "af4af39e-6355-3c21-860a-d37738d934af",
            "instanceIdentifier" : "1c828e52-0183-1000-ffff-ffffb2ce9bc3",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
              "id" : "ccb6d998-6a3c-3223-b29e-06f8784f1a7c",
              "instanceIdentifier" : "126535db-012a-1ff9-bded-17ecb5367213",
              "name" : "InvokeHTTP",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 3000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
              "id" : "52e79397-77ac-3499-9260-ed512ab7ce25",
              "instanceIdentifier" : "fa313e03-814b-165f-a256-8a0beecb5b82",
              "name" : "SplitJson",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
            "identifier" : "52014939-d7a8-3c5f-b52b-604e3b8e715d",
            "instanceIdentifier" : "9ea23c10-f150-1924-8757-e0e408c1d70a",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "ROUND_ROBIN",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Response" ],
            "source" : {
              "comments" : "",
              "groupId" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
              "id" : "ccb6d998-6a3c-3223-b29e-06f8784f1a7c",
              "instanceIdentifier" : "126535db-012a-1ff9-bded-17ecb5367213",
              "name" : "InvokeHTTP",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 3000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
              "id" : "f4e06fcb-b35f-3d40-ad82-2e1d2027cc8d",
              "instanceIdentifier" : "1c707a6c-0183-1000-0000-00000646130b",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
            "identifier" : "3125e71a-cd05-3e6d-98b4-339820bf9647",
            "instanceIdentifier" : "1c7098c2-0183-1000-ffff-ffffd2031c9b",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "ROUND_ROBIN",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "split" ],
            "source" : {
              "comments" : "",
              "groupId" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
              "id" : "52e79397-77ac-3499-9260-ed512ab7ce25",
              "instanceIdentifier" : "fa313e03-814b-165f-a256-8a0beecb5b82",
              "name" : "SplitJson",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
              "id" : "ed4afdeb-b748-3543-beaf-111ddc2a6086",
              "instanceIdentifier" : "1cc83f0a-0183-1000-ffff-ffffac7d1b97",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
            "identifier" : "75666b78-7f66-34da-87f0-a9fa694a27b5",
            "instanceIdentifier" : "1cc85029-0183-1000-ffff-ffffe19d82f1",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
              "id" : "ded8edd3-b4b9-344e-a038-42920d3abd03",
              "instanceIdentifier" : "2a303a85-7de8-1a6a-9592-7cfd866bb273",
              "name" : "ConvertJSONToSQL",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 3000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
              "id" : "2842db2f-a3a7-3217-aaa4-b63b211d823c",
              "instanceIdentifier" : "ae633467-be7c-1c8c-95aa-91a47c7ed106",
              "name" : "PutSQL",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
            "identifier" : "b6e9bd65-0754-3b37-be99-b9cc20a2c6d8",
            "instanceIdentifier" : "1c6ea4e0-0183-1000-ffff-fffffe8ae5ac",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "ROUND_ROBIN",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "sql" ],
            "source" : {
              "comments" : "",
              "groupId" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
              "id" : "ded8edd3-b4b9-344e-a038-42920d3abd03",
              "instanceIdentifier" : "2a303a85-7de8-1a6a-9592-7cfd866bb273",
              "name" : "ConvertJSONToSQL",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 3000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
              "id" : "ccb6d998-6a3c-3223-b29e-06f8784f1a7c",
              "instanceIdentifier" : "126535db-012a-1ff9-bded-17ecb5367213",
              "name" : "InvokeHTTP",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
            "identifier" : "faaed0c6-13eb-32e6-beae-43e628dff779",
            "instanceIdentifier" : "1c7ba793-0183-1000-0000-00004d54d9aa",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "ROUND_ROBIN",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
              "id" : "cb011f45-9d88-33f5-bdfe-2c79210ae4d3",
              "instanceIdentifier" : "291e3923-f077-162b-85f7-e2721ddaaf76",
              "name" : "InputPortOrderItemInsert",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
            "identifier" : "57311581-5f40-30be-8f66-d3401ce65ebf",
            "instanceIdentifier" : "20473c3f-8345-1e70-bb5a-2164df9d1c6a",
            "position" : {
              "x" : 1776.0,
              "y" : 864.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
            "identifier" : "ed4afdeb-b748-3543-beaf-111ddc2a6086",
            "instanceIdentifier" : "1cc83f0a-0183-1000-ffff-ffffac7d1b97",
            "position" : {
              "x" : 1273.673435840076,
              "y" : 887.4464272704707
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
            "identifier" : "2cf25167-9e02-3bfa-ad6d-a07d5943f44b",
            "instanceIdentifier" : "1c82719d-0183-1000-ffff-ffffb47ee68f",
            "position" : {
              "x" : 1048.0,
              "y" : 184.0
            }
          } ],
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
            "identifier" : "cb011f45-9d88-33f5-bdfe-2c79210ae4d3",
            "instanceIdentifier" : "291e3923-f077-162b-85f7-e2721ddaaf76",
            "name" : "InputPortOrderItemInsert",
            "position" : {
              "x" : 160.0,
              "y" : -176.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "1d763334-84ec-1dfa-8068-966b27b1a16c",
          "labels" : [ ],
          "name" : "insert_order_item",
          "outputPorts" : [ ],
          "parameterContextName" : "Connector",
          "position" : {
            "x" : -1504.0,
            "y" : 576.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "original" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.17.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
            "identifier" : "ded8edd3-b4b9-344e-a038-42920d3abd03",
            "instanceIdentifier" : "2a303a85-7de8-1a6a-9592-7cfd866bb273",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ConvertJSONToSQL",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 976.0,
              "y" : 584.0
            },
            "properties" : {
              "table-schema-cache-size" : "100",
              "Table Name" : "order_items",
              "jts-sql-param-attr-prefix" : "sql",
              "Unmatched Field Behavior" : "Ignore Unmatched Fields",
              "Unmatched Column Behavior" : "Fail on Unmatched Columns",
              "jts-quoted-identifiers" : "false",
              "jts-quoted-table-identifiers" : "false",
              "JDBC Connection Pool" : "8005761b-d2a4-3a58-ac6a-0303c4402fbd",
              "Translate Field Names" : "true",
              "Statement Type" : "INSERT"
            },
            "propertyDescriptors" : {
              "table-schema-cache-size" : {
                "displayName" : "Table Schema Cache Size",
                "identifiesControllerService" : false,
                "name" : "table-schema-cache-size",
                "sensitive" : false
              },
              "Table Name" : {
                "displayName" : "Table Name",
                "identifiesControllerService" : false,
                "name" : "Table Name",
                "sensitive" : false
              },
              "Catalog Name" : {
                "displayName" : "Catalog Name",
                "identifiesControllerService" : false,
                "name" : "Catalog Name",
                "sensitive" : false
              },
              "jts-sql-param-attr-prefix" : {
                "displayName" : "SQL Parameter Attribute Prefix",
                "identifiesControllerService" : false,
                "name" : "jts-sql-param-attr-prefix",
                "sensitive" : false
              },
              "Schema Name" : {
                "displayName" : "Schema Name",
                "identifiesControllerService" : false,
                "name" : "Schema Name",
                "sensitive" : false
              },
              "Unmatched Field Behavior" : {
                "displayName" : "Unmatched Field Behavior",
                "identifiesControllerService" : false,
                "name" : "Unmatched Field Behavior",
                "sensitive" : false
              },
              "Unmatched Column Behavior" : {
                "displayName" : "Unmatched Column Behavior",
                "identifiesControllerService" : false,
                "name" : "Unmatched Column Behavior",
                "sensitive" : false
              },
              "jts-quoted-identifiers" : {
                "displayName" : "Quote Column Identifiers",
                "identifiesControllerService" : false,
                "name" : "jts-quoted-identifiers",
                "sensitive" : false
              },
              "jts-quoted-table-identifiers" : {
                "displayName" : "Quote Table Identifiers",
                "identifiesControllerService" : false,
                "name" : "jts-quoted-table-identifiers",
                "sensitive" : false
              },
              "JDBC Connection Pool" : {
                "displayName" : "JDBC Connection Pool",
                "identifiesControllerService" : true,
                "name" : "JDBC Connection Pool",
                "sensitive" : false
              },
              "Update Keys" : {
                "displayName" : "Update Keys",
                "identifiesControllerService" : false,
                "name" : "Update Keys",
                "sensitive" : false
              },
              "Translate Field Names" : {
                "displayName" : "Translate Field Names",
                "identifiesControllerService" : false,
                "name" : "Translate Field Names",
                "sensitive" : false
              },
              "Statement Type" : {
                "displayName" : "Statement Type",
                "identifiesControllerService" : false,
                "name" : "Statement Type",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ConvertJSONToSQL",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success", "retry" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.17.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
            "identifier" : "2842db2f-a3a7-3217-aaa4-b63b211d823c",
            "instanceIdentifier" : "ae633467-be7c-1c8c-95aa-91a47c7ed106",
            "maxBackoffPeriod" : "10 mins",
            "name" : "PutSQL",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1624.0,
              "y" : 576.0
            },
            "properties" : {
              "Support Fragmented Transactions" : "true",
              "Batch Size" : "100",
              "Obtain Generated Keys" : "false",
              "JDBC Connection Pool" : "8005761b-d2a4-3a58-ac6a-0303c4402fbd",
              "database-session-autocommit" : "false",
              "rollback-on-failure" : "false"
            },
            "propertyDescriptors" : {
              "Support Fragmented Transactions" : {
                "displayName" : "Support Fragmented Transactions",
                "identifiesControllerService" : false,
                "name" : "Support Fragmented Transactions",
                "sensitive" : false
              },
              "putsql-sql-statement" : {
                "displayName" : "SQL Statement",
                "identifiesControllerService" : false,
                "name" : "putsql-sql-statement",
                "sensitive" : false
              },
              "Transaction Timeout" : {
                "displayName" : "Transaction Timeout",
                "identifiesControllerService" : false,
                "name" : "Transaction Timeout",
                "sensitive" : false
              },
              "Batch Size" : {
                "displayName" : "Batch Size",
                "identifiesControllerService" : false,
                "name" : "Batch Size",
                "sensitive" : false
              },
              "Obtain Generated Keys" : {
                "displayName" : "Obtain Generated Keys",
                "identifiesControllerService" : false,
                "name" : "Obtain Generated Keys",
                "sensitive" : false
              },
              "JDBC Connection Pool" : {
                "displayName" : "JDBC Connection Pool",
                "identifiesControllerService" : true,
                "name" : "JDBC Connection Pool",
                "sensitive" : false
              },
              "database-session-autocommit" : {
                "displayName" : "Database Session AutoCommit",
                "identifiesControllerService" : false,
                "name" : "database-session-autocommit",
                "sensitive" : false
              },
              "rollback-on-failure" : {
                "displayName" : "Rollback On Failure",
                "identifiesControllerService" : false,
                "name" : "rollback-on-failure",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "1 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.PutSQL",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.17.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 10,
            "executionNode" : "ALL",
            "groupIdentifier" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
            "identifier" : "ccb6d998-6a3c-3223-b29e-06f8784f1a7c",
            "instanceIdentifier" : "126535db-012a-1ff9-bded-17ecb5367213",
            "maxBackoffPeriod" : "10 mins",
            "name" : "InvokeHTTP",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 384.0,
              "y" : 96.0
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "cookie-strategy" : "DISABLED",
              "Connection Timeout" : "15 mins",
              "send-message-body" : "true",
              "Authorization" : "#{Bearer}",
              "set-form-filename" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "Content-Encoding" : "DISABLED",
              "disable-http2" : "False",
              "idle-timeout" : "30 mins",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "True",
              "Remote URL" : "#{UrlApiABOM}order-items?page_size=3000&order_id=${order_id}",
              "Content-Type" : "${mime.type}",
              "flow-file-naming-strategy" : "RANDOM",
              "max-idle-connections" : "5",
              "Read Timeout" : "15 mins",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "Digest Authentication" : "false",
              "HTTP Method" : "GET",
              "Add Response Headers to Request" : "false",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "false"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Request Header Attributes Pattern",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Response Cache Enabled",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Request Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "cookie-strategy" : {
                "displayName" : "Response Cookie Strategy",
                "identifiesControllerService" : false,
                "name" : "cookie-strategy",
                "sensitive" : false
              },
              "Connection Timeout" : {
                "displayName" : "Socket Connect Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Request Body Enabled",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "Authorization" : {
                "displayName" : "Authorization",
                "identifiesControllerService" : false,
                "name" : "Authorization",
                "sensitive" : false
              },
              "set-form-filename" : {
                "displayName" : "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService" : false,
                "name" : "set-form-filename",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Response Generation Required",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Response Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "Content-Encoding" : {
                "displayName" : "Request Content-Encoding",
                "identifiesControllerService" : false,
                "name" : "Content-Encoding",
                "sensitive" : false
              },
              "disable-http2" : {
                "displayName" : "HTTP/2 Disabled",
                "identifiesControllerService" : false,
                "name" : "disable-http2",
                "sensitive" : false
              },
              "idle-timeout" : {
                "displayName" : "Socket Idle Timeout",
                "identifiesControllerService" : false,
                "name" : "idle-timeout",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Response Body Attribute Name",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Response Redirects Enabled",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "HTTP URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "form-body-form-name" : {
                "displayName" : "Request Multipart Form-Data Name",
                "identifiesControllerService" : false,
                "name" : "form-body-form-name",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Request Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "flow-file-naming-strategy" : {
                "displayName" : "Response FlowFile Naming Strategy",
                "identifiesControllerService" : false,
                "name" : "flow-file-naming-strategy",
                "sensitive" : false
              },
              "max-idle-connections" : {
                "displayName" : "Socket Idle Connections",
                "identifiesControllerService" : false,
                "name" : "max-idle-connections",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Socket Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Response Body Attribute Size",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Response Body Ignored",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Request Digest Authentication Enabled",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Response Header Request Attributes Enabled",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "oauth2-access-token-provider" : {
                "displayName" : "Request OAuth2 Access Token Provider",
                "identifiesControllerService" : true,
                "name" : "oauth2-access-token-provider",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Request Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Request Date Header Enabled",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Request Failure Penalization Enabled",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              },
              "Useragent" : {
                "displayName" : "Request User-Agent",
                "identifiesControllerService" : false,
                "name" : "Useragent",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "1 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original", "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.17.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 3,
            "executionNode" : "ALL",
            "groupIdentifier" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
            "identifier" : "52e79397-77ac-3499-9260-ed512ab7ce25",
            "instanceIdentifier" : "fa313e03-814b-165f-a256-8a0beecb5b82",
            "maxBackoffPeriod" : "10 mins",
            "name" : "SplitJson",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 376.0,
              "y" : 328.0
            },
            "properties" : {
              "Null Value Representation" : "empty string",
              "JsonPath Expression" : "data"
            },
            "propertyDescriptors" : {
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "JsonPath Expression" : {
                "displayName" : "JsonPath Expression",
                "identifiesControllerService" : false,
                "name" : "JsonPath Expression",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.SplitJson",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.17.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "c44c28fd-ee77-34a4-a64e-fe91eb473adb",
            "identifier" : "f4e06fcb-b35f-3d40-ad82-2e1d2027cc8d",
            "instanceIdentifier" : "1c707a6c-0183-1000-0000-00000646130b",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ReplaceText",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 376.0,
              "y" : 584.0
            },
            "properties" : {
              "Regular Expression" : ".$",
              "Replacement Value" : "  ,\"order_id\" : \"${order_id}\"}",
              "Evaluation Mode" : "Line-by-Line",
              "Line-by-Line Evaluation Mode" : "Last-Line",
              "Character Set" : "UTF-8",
              "Maximum Buffer Size" : "1 MB",
              "Replacement Strategy" : "Literal Replace"
            },
            "propertyDescriptors" : {
              "Regular Expression" : {
                "displayName" : "Search Value",
                "identifiesControllerService" : false,
                "name" : "Regular Expression",
                "sensitive" : false
              },
              "Replacement Value" : {
                "displayName" : "Replacement Value",
                "identifiesControllerService" : false,
                "name" : "Replacement Value",
                "sensitive" : false
              },
              "Evaluation Mode" : {
                "displayName" : "Evaluation Mode",
                "identifiesControllerService" : false,
                "name" : "Evaluation Mode",
                "sensitive" : false
              },
              "Line-by-Line Evaluation Mode" : {
                "displayName" : "Line-by-Line Evaluation Mode",
                "identifiesControllerService" : false,
                "name" : "Line-by-Line Evaluation Mode",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "Maximum Buffer Size" : {
                "displayName" : "Maximum Buffer Size",
                "identifiesControllerService" : false,
                "name" : "Maximum Buffer Size",
                "sensitive" : false
              },
              "Replacement Strategy" : {
                "displayName" : "Replacement Strategy",
                "identifiesControllerService" : false,
                "name" : "Replacement Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ReplaceText",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        } ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "3b47fe45-dbe7-3e52-82cd-805c437c1a7a",
          "instanceIdentifier" : "d01236b6-2f00-19df-922c-16f3fa242e02",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 392.0,
            "y" : 240.0
          },
          "properties" : {
            "Delete Attributes Expression" : "sql.*",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "order_id" : "${sql.args.1.value}"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            },
            "order_id" : {
              "displayName" : "order_id",
              "identifiesControllerService" : false,
              "name" : "order_id",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "769f2490-75e4-3d59-8391-024583c905cf",
          "instanceIdentifier" : "81d83a9f-5d59-1962-a40d-9ef108cd77f1",
          "maxBackoffPeriod" : "10 mins",
          "name" : "InvokeHTTP",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1228.8281706580437,
            "y" : -542.9116385143665
          },
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "cookie-strategy" : "DISABLED",
            "Connection Timeout" : "15 mins",
            "send-message-body" : "true",
            "Authorization" : "#{Bearer}",
            "set-form-filename" : "true",
            "Always Output Response" : "false",
            "etag-max-cache-size" : "10MB",
            "Content-Encoding" : "DISABLED",
            "disable-http2" : "False",
            "idle-timeout" : "30 mins",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "True",
            "Remote URL" : "#{UrlApiABOM}orders?page_size=3000&page=${page}",
            "Content-Type" : "${mime.type}",
            "flow-file-naming-strategy" : "RANDOM",
            "max-idle-connections" : "5",
            "Read Timeout" : "15 mins",
            "Max Length To Put In Attribute" : "256",
            "ignore-response-content" : "false",
            "Digest Authentication" : "false",
            "HTTP Method" : "GET",
            "Add Response Headers to Request" : "false",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "Attributes to Send" : {
              "displayName" : "Request Header Attributes Pattern",
              "identifiesControllerService" : false,
              "name" : "Attributes to Send",
              "sensitive" : false
            },
            "use-etag" : {
              "displayName" : "Response Cache Enabled",
              "identifiesControllerService" : false,
              "name" : "use-etag",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Proxy Type" : {
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "name" : "Proxy Type",
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "displayName" : "Request Password",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Password",
              "sensitive" : true
            },
            "cookie-strategy" : {
              "displayName" : "Response Cookie Strategy",
              "identifiesControllerService" : false,
              "name" : "cookie-strategy",
              "sensitive" : false
            },
            "Connection Timeout" : {
              "displayName" : "Socket Connect Timeout",
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "send-message-body" : {
              "displayName" : "Request Body Enabled",
              "identifiesControllerService" : false,
              "name" : "send-message-body",
              "sensitive" : false
            },
            "Authorization" : {
              "displayName" : "Authorization",
              "identifiesControllerService" : false,
              "name" : "Authorization",
              "sensitive" : false
            },
            "set-form-filename" : {
              "displayName" : "Request Multipart Form-Data Filename Enabled",
              "identifiesControllerService" : false,
              "name" : "set-form-filename",
              "sensitive" : false
            },
            "Always Output Response" : {
              "displayName" : "Response Generation Required",
              "identifiesControllerService" : false,
              "name" : "Always Output Response",
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "displayName" : "Response Cache Size",
              "identifiesControllerService" : false,
              "name" : "etag-max-cache-size",
              "sensitive" : false
            },
            "Content-Encoding" : {
              "displayName" : "Request Content-Encoding",
              "identifiesControllerService" : false,
              "name" : "Content-Encoding",
              "sensitive" : false
            },
            "disable-http2" : {
              "displayName" : "HTTP/2 Disabled",
              "identifiesControllerService" : false,
              "name" : "disable-http2",
              "sensitive" : false
            },
            "idle-timeout" : {
              "displayName" : "Socket Idle Timeout",
              "identifiesControllerService" : false,
              "name" : "idle-timeout",
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "displayName" : "Response Body Attribute Name",
              "identifiesControllerService" : false,
              "name" : "Put Response Body In Attribute",
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "displayName" : "Request Chunked Transfer-Encoding Enabled",
              "identifiesControllerService" : false,
              "name" : "Use Chunked Encoding",
              "sensitive" : false
            },
            "Follow Redirects" : {
              "displayName" : "Response Redirects Enabled",
              "identifiesControllerService" : false,
              "name" : "Follow Redirects",
              "sensitive" : false
            },
            "Remote URL" : {
              "displayName" : "HTTP URL",
              "identifiesControllerService" : false,
              "name" : "Remote URL",
              "sensitive" : false
            },
            "form-body-form-name" : {
              "displayName" : "Request Multipart Form-Data Name",
              "identifiesControllerService" : false,
              "name" : "form-body-form-name",
              "sensitive" : false
            },
            "Content-Type" : {
              "displayName" : "Request Content-Type",
              "identifiesControllerService" : false,
              "name" : "Content-Type",
              "sensitive" : false
            },
            "flow-file-naming-strategy" : {
              "displayName" : "Response FlowFile Naming Strategy",
              "identifiesControllerService" : false,
              "name" : "flow-file-naming-strategy",
              "sensitive" : false
            },
            "max-idle-connections" : {
              "displayName" : "Socket Idle Connections",
              "identifiesControllerService" : false,
              "name" : "max-idle-connections",
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-user",
              "sensitive" : false
            },
            "Read Timeout" : {
              "displayName" : "Socket Read Timeout",
              "identifiesControllerService" : false,
              "name" : "Read Timeout",
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "displayName" : "Response Body Attribute Size",
              "identifiesControllerService" : false,
              "name" : "Max Length To Put In Attribute",
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-password",
              "sensitive" : true
            },
            "ignore-response-content" : {
              "displayName" : "Response Body Ignored",
              "identifiesControllerService" : false,
              "name" : "ignore-response-content",
              "sensitive" : false
            },
            "Proxy Port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Port",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Digest Authentication" : {
              "displayName" : "Request Digest Authentication Enabled",
              "identifiesControllerService" : false,
              "name" : "Digest Authentication",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "displayName" : "Response Header Request Attributes Enabled",
              "identifiesControllerService" : false,
              "name" : "Add Response Headers to Request",
              "sensitive" : false
            },
            "oauth2-access-token-provider" : {
              "displayName" : "Request OAuth2 Access Token Provider",
              "identifiesControllerService" : true,
              "name" : "oauth2-access-token-provider",
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "displayName" : "Request Username",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Username",
              "sensitive" : false
            },
            "Include Date Header" : {
              "displayName" : "Request Date Header Enabled",
              "identifiesControllerService" : false,
              "name" : "Include Date Header",
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "displayName" : "Request Failure Penalization Enabled",
              "identifiesControllerService" : false,
              "name" : "Penalize on \"No Retry\"",
              "sensitive" : false
            },
            "Useragent" : {
              "displayName" : "Request User-Agent",
              "identifiesControllerService" : false,
              "name" : "Useragent",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "1 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "0dc555e0-cb43-3cbc-9039-753424567384",
          "instanceIdentifier" : "851b3299-7391-1dde-8287-bd8c1f7e9810",
          "maxBackoffPeriod" : "10 mins",
          "name" : "SplitJson",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1236.8281706580437,
            "y" : -310.9116385143665
          },
          "properties" : {
            "Null Value Representation" : "empty string",
            "JsonPath Expression" : "data"
          },
          "propertyDescriptors" : {
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "JsonPath Expression" : {
              "displayName" : "JsonPath Expression",
              "identifiesControllerService" : false,
              "name" : "JsonPath Expression",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.SplitJson",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "retry" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "3babc2a7-392d-3db9-b342-628b5d66d3d1",
          "instanceIdentifier" : "a9f03ad8-1d9f-130c-a523-374b83f56ad2",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutSQL",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -876.8281706580437,
            "y" : 425.0883614856335
          },
          "properties" : {
            "Support Fragmented Transactions" : "true",
            "Batch Size" : "100",
            "Obtain Generated Keys" : "false",
            "JDBC Connection Pool" : "8005761b-d2a4-3a58-ac6a-0303c4402fbd",
            "database-session-autocommit" : "false",
            "rollback-on-failure" : "false"
          },
          "propertyDescriptors" : {
            "Support Fragmented Transactions" : {
              "displayName" : "Support Fragmented Transactions",
              "identifiesControllerService" : false,
              "name" : "Support Fragmented Transactions",
              "sensitive" : false
            },
            "putsql-sql-statement" : {
              "displayName" : "SQL Statement",
              "identifiesControllerService" : false,
              "name" : "putsql-sql-statement",
              "sensitive" : false
            },
            "Transaction Timeout" : {
              "displayName" : "Transaction Timeout",
              "identifiesControllerService" : false,
              "name" : "Transaction Timeout",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Obtain Generated Keys" : {
              "displayName" : "Obtain Generated Keys",
              "identifiesControllerService" : false,
              "name" : "Obtain Generated Keys",
              "sensitive" : false
            },
            "JDBC Connection Pool" : {
              "displayName" : "JDBC Connection Pool",
              "identifiesControllerService" : true,
              "name" : "JDBC Connection Pool",
              "sensitive" : false
            },
            "database-session-autocommit" : {
              "displayName" : "Database Session AutoCommit",
              "identifiesControllerService" : false,
              "name" : "database-session-autocommit",
              "sensitive" : false
            },
            "rollback-on-failure" : {
              "displayName" : "Rollback On Failure",
              "identifiesControllerService" : false,
              "name" : "rollback-on-failure",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutSQL",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "895b5593-5aca-35a8-a0e9-e650c0df36d2",
          "instanceIdentifier" : "93bd3d18-f712-1fc1-84c7-6c95ca0784b1",
          "maxBackoffPeriod" : "10 mins",
          "name" : "RouteOnAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -552.0,
            "y" : -64.0
          },
          "properties" : {
            "Routing Strategy" : "Route to Property name",
            "insert" : "${id:gt(${maxid})}"
          },
          "propertyDescriptors" : {
            "Routing Strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "Routing Strategy",
              "sensitive" : false
            },
            "insert" : {
              "displayName" : "insert",
              "identifiesControllerService" : false,
              "name" : "insert",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "c5521ece-6a02-3dc7-b7f6-08ee3f583af1",
          "instanceIdentifier" : "6b9d3976-0f11-1b52-a51a-2e10dc4d3267",
          "maxBackoffPeriod" : "10 mins",
          "name" : "JoltTransformJSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1236.8281706580437,
            "y" : -70.91163851436647
          },
          "properties" : {
            "jolt-spec" : "[\n  {\n    \"operation\": \"modify-default-beta\",\n    \"spec\": {\n      \"nupdated\": \"=concat(@(1,updated),'.000')\",\n      \"ncreated\": \"=concat(@(1,created),'.000')\",\n      \"nconditional_execution_date\": \"=concat(@(1,conditional_execution_date),'.000')\",\n      \"nplanned_shipping_date\": \"=concat(@(1,planned_shipping_date),'.000')\"\n    }\n  },\n  {\n    \"operation\": \"remove\",\n    \"spec\": {\n      \"updated\": \"\",\n      \"created\": \"\",\n      \"conditional_execution_date\": \"\",\n      \"planned_shipping_date\": \"\"\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": \"&\",\n      \"nupdated\": \"updated\",\n      \"ncreated\": \"created\",\n\t  \"nconditional_execution_date\": \"conditional_execution_date\",\n\t  \"nplanned_shipping_date\": \"planned_shipping_date\"\n    }\n  }\n]\n",
            "jolt-transform" : "jolt-transform-chain",
            "pretty_print" : "false",
            "Transform Cache Size" : "1"
          },
          "propertyDescriptors" : {
            "jolt-spec" : {
              "displayName" : "Jolt Specification",
              "identifiesControllerService" : false,
              "name" : "jolt-spec",
              "sensitive" : false
            },
            "jolt-transform" : {
              "displayName" : "Jolt Transformation DSL",
              "identifiesControllerService" : false,
              "name" : "jolt-transform",
              "sensitive" : false
            },
            "jolt-custom-class" : {
              "displayName" : "Custom Transformation Class Name",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-class",
              "sensitive" : false
            },
            "jolt-custom-modules" : {
              "displayName" : "Custom Module Directory",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-modules",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "FILE", "DIRECTORY" ]
              },
              "sensitive" : false
            },
            "pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "pretty_print",
              "sensitive" : false
            },
            "Transform Cache Size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "Transform Cache Size",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.JoltTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "PRIMARY",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "8f0deae3-7b84-3e31-98fa-ddd279dd7108",
          "instanceIdentifier" : "b6643df8-54c2-1215-9b69-f55d29f826fd",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ExecuteSQL",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1812.8281706580437,
            "y" : -550.9116385143665
          },
          "properties" : {
            "esql-max-rows" : "0",
            "dbf-default-precision" : "10",
            "Max Wait Time" : "0 seconds",
            "Database Connection Pooling Service" : "8005761b-d2a4-3a58-ac6a-0303c4402fbd",
            "esql-auto-commit" : "true",
            "dbf-user-logical-types" : "false",
            "dbf-default-scale" : "0",
            "compression-format" : "NONE",
            "esql-output-batch-size" : "0",
            "esql-fetch-size" : "0",
            "SQL select query" : "  SELECT TOP(1) id as maxid,\n\t\tFORMAT(DATEADD(d,-1,GETDATE()),'yyyy-MM-dd 00:00:00') AS yesterday,\n\t\t1 AS page\n  FROM orders\n  ORDER BY id DESC \n",
            "dbf-normalize" : "false"
          },
          "propertyDescriptors" : {
            "esql-max-rows" : {
              "displayName" : "Max Rows Per Flow File",
              "identifiesControllerService" : false,
              "name" : "esql-max-rows",
              "sensitive" : false
            },
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "displayName" : "Database Connection Pooling Service",
              "identifiesControllerService" : true,
              "name" : "Database Connection Pooling Service",
              "sensitive" : false
            },
            "sql-post-query" : {
              "displayName" : "SQL Post-Query",
              "identifiesControllerService" : false,
              "name" : "sql-post-query",
              "sensitive" : false
            },
            "esql-auto-commit" : {
              "displayName" : "Set Auto Commit",
              "identifiesControllerService" : false,
              "name" : "esql-auto-commit",
              "sensitive" : false
            },
            "dbf-user-logical-types" : {
              "displayName" : "Use Avro Logical Types",
              "identifiesControllerService" : false,
              "name" : "dbf-user-logical-types",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            },
            "sql-pre-query" : {
              "displayName" : "SQL Pre-Query",
              "identifiesControllerService" : false,
              "name" : "sql-pre-query",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "esql-output-batch-size" : {
              "displayName" : "Output Batch Size",
              "identifiesControllerService" : false,
              "name" : "esql-output-batch-size",
              "sensitive" : false
            },
            "esql-fetch-size" : {
              "displayName" : "Fetch Size",
              "identifiesControllerService" : false,
              "name" : "esql-fetch-size",
              "sensitive" : false
            },
            "SQL select query" : {
              "displayName" : "SQL select query",
              "identifiesControllerService" : false,
              "name" : "SQL select query",
              "sensitive" : false
            },
            "dbf-normalize" : {
              "displayName" : "Normalize Table/Column Names",
              "identifiesControllerService" : false,
              "name" : "dbf-normalize",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "* 25 21 * * ?",
          "schedulingStrategy" : "CRON_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "PRIMARY",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "0bf1d487-363e-322d-8645-d94530e83158",
          "instanceIdentifier" : "30ef3aa4-f435-1a17-8b60-3fc1d326c1fc",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GenerateFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1500.8281706580437,
            "y" : -790.9116385143665
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "0B",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "page" : "1",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "page" : {
              "displayName" : "page",
              "identifiesControllerService" : false,
              "name" : "page",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-avro-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "b2dfec6b-d88c-36bc-b853-f795bec5f084",
          "instanceIdentifier" : "fdb532bf-87bf-167a-9406-dab46555ceb0",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ConvertAvroToJSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1812.8281706580437,
            "y" : -302.9116385143665
          },
          "properties" : {
            "JSON container options" : "array",
            "Wrap Single Record" : "false"
          },
          "propertyDescriptors" : {
            "JSON container options" : {
              "displayName" : "JSON container options",
              "identifiesControllerService" : false,
              "name" : "JSON container options",
              "sensitive" : false
            },
            "Wrap Single Record" : {
              "displayName" : "Wrap Single Record",
              "identifiesControllerService" : false,
              "name" : "Wrap Single Record",
              "sensitive" : false
            },
            "Avro schema" : {
              "displayName" : "Avro schema",
              "identifiesControllerService" : false,
              "name" : "Avro schema",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.avro.ConvertAvroToJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "retry" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "6a77b6e8-59c3-31fd-9c05-4a01fda8d9b2",
          "instanceIdentifier" : "fc5e38ae-4f7a-10d8-9b0e-646eed75e8fc",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutSQL",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -268.82817065804375,
            "y" : 409.0883614856335
          },
          "properties" : {
            "Support Fragmented Transactions" : "true",
            "Batch Size" : "100",
            "Obtain Generated Keys" : "false",
            "JDBC Connection Pool" : "8005761b-d2a4-3a58-ac6a-0303c4402fbd",
            "database-session-autocommit" : "false",
            "rollback-on-failure" : "false"
          },
          "propertyDescriptors" : {
            "Support Fragmented Transactions" : {
              "displayName" : "Support Fragmented Transactions",
              "identifiesControllerService" : false,
              "name" : "Support Fragmented Transactions",
              "sensitive" : false
            },
            "putsql-sql-statement" : {
              "displayName" : "SQL Statement",
              "identifiesControllerService" : false,
              "name" : "putsql-sql-statement",
              "sensitive" : false
            },
            "Transaction Timeout" : {
              "displayName" : "Transaction Timeout",
              "identifiesControllerService" : false,
              "name" : "Transaction Timeout",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Obtain Generated Keys" : {
              "displayName" : "Obtain Generated Keys",
              "identifiesControllerService" : false,
              "name" : "Obtain Generated Keys",
              "sensitive" : false
            },
            "JDBC Connection Pool" : {
              "displayName" : "JDBC Connection Pool",
              "identifiesControllerService" : true,
              "name" : "JDBC Connection Pool",
              "sensitive" : false
            },
            "database-session-autocommit" : {
              "displayName" : "Database Session AutoCommit",
              "identifiesControllerService" : false,
              "name" : "database-session-autocommit",
              "sensitive" : false
            },
            "rollback-on-failure" : {
              "displayName" : "Rollback On Failure",
              "identifiesControllerService" : false,
              "name" : "rollback-on-failure",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutSQL",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure", "unmatched" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "33b87fe5-0662-385a-bb50-337b329ac9e2",
          "instanceIdentifier" : "22b9319f-71fc-1fa6-a657-06fd2bfbf41f",
          "maxBackoffPeriod" : "10 mins",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1812.8281706580437,
            "y" : -62.91163851436647
          },
          "properties" : {
            "yesterday" : "$.yesterday",
            "Destination" : "flowfile-attribute",
            "maxid" : "$.maxid",
            "Return Type" : "auto-detect",
            "Null Value Representation" : "empty string",
            "page" : "$.page",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "yesterday" : {
              "displayName" : "yesterday",
              "identifiesControllerService" : false,
              "name" : "yesterday",
              "sensitive" : false
            },
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "maxid" : {
              "displayName" : "maxid",
              "identifiesControllerService" : false,
              "name" : "maxid",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "page" : {
              "displayName" : "page",
              "identifiesControllerService" : false,
              "name" : "page",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "92e32c10-a4a9-3563-881d-2ba788420225",
          "instanceIdentifier" : "e33f3c55-3754-1a73-ae2a-d25e4bc00494",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ConvertJSONToSQL",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -868.8281706580437,
            "y" : 161.08836148563353
          },
          "properties" : {
            "table-schema-cache-size" : "100",
            "Table Name" : "orders",
            "jts-sql-param-attr-prefix" : "sql",
            "Unmatched Field Behavior" : "Ignore Unmatched Fields",
            "Unmatched Column Behavior" : "Fail on Unmatched Columns",
            "jts-quoted-identifiers" : "false",
            "jts-quoted-table-identifiers" : "false",
            "JDBC Connection Pool" : "8005761b-d2a4-3a58-ac6a-0303c4402fbd",
            "Translate Field Names" : "true",
            "Statement Type" : "INSERT"
          },
          "propertyDescriptors" : {
            "table-schema-cache-size" : {
              "displayName" : "Table Schema Cache Size",
              "identifiesControllerService" : false,
              "name" : "table-schema-cache-size",
              "sensitive" : false
            },
            "Table Name" : {
              "displayName" : "Table Name",
              "identifiesControllerService" : false,
              "name" : "Table Name",
              "sensitive" : false
            },
            "Catalog Name" : {
              "displayName" : "Catalog Name",
              "identifiesControllerService" : false,
              "name" : "Catalog Name",
              "sensitive" : false
            },
            "jts-sql-param-attr-prefix" : {
              "displayName" : "SQL Parameter Attribute Prefix",
              "identifiesControllerService" : false,
              "name" : "jts-sql-param-attr-prefix",
              "sensitive" : false
            },
            "Schema Name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "Schema Name",
              "sensitive" : false
            },
            "Unmatched Field Behavior" : {
              "displayName" : "Unmatched Field Behavior",
              "identifiesControllerService" : false,
              "name" : "Unmatched Field Behavior",
              "sensitive" : false
            },
            "Unmatched Column Behavior" : {
              "displayName" : "Unmatched Column Behavior",
              "identifiesControllerService" : false,
              "name" : "Unmatched Column Behavior",
              "sensitive" : false
            },
            "jts-quoted-identifiers" : {
              "displayName" : "Quote Column Identifiers",
              "identifiesControllerService" : false,
              "name" : "jts-quoted-identifiers",
              "sensitive" : false
            },
            "jts-quoted-table-identifiers" : {
              "displayName" : "Quote Table Identifiers",
              "identifiesControllerService" : false,
              "name" : "jts-quoted-table-identifiers",
              "sensitive" : false
            },
            "JDBC Connection Pool" : {
              "displayName" : "JDBC Connection Pool",
              "identifiesControllerService" : true,
              "name" : "JDBC Connection Pool",
              "sensitive" : false
            },
            "Update Keys" : {
              "displayName" : "Update Keys",
              "identifiesControllerService" : false,
              "name" : "Update Keys",
              "sensitive" : false
            },
            "Translate Field Names" : {
              "displayName" : "Translate Field Names",
              "identifiesControllerService" : false,
              "name" : "Translate Field Names",
              "sensitive" : false
            },
            "Statement Type" : {
              "displayName" : "Statement Type",
              "identifiesControllerService" : false,
              "name" : "Statement Type",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ConvertJSONToSQL",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "937d6c43-42a0-3d37-a7f0-fea5efb0891e",
          "instanceIdentifier" : "1c693eb0-0183-1000-0000-0000736351a1",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1488.0,
            "y" : 248.0
          },
          "properties" : {
            "Delete Attributes Expression" : "sql.*",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "order_id" : "${sql.args.1.value}"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            },
            "order_id" : {
              "displayName" : "order_id",
              "identifiesControllerService" : false,
              "name" : "order_id",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d8bbef55-8061-3d7a-8dac-fe38ed933acd",
          "identifier" : "7f6a8bf5-cdc1-32c4-884f-8fed785c2fd2",
          "instanceIdentifier" : "6c673f74-8756-1d59-b7a5-45f4f0e1e0f1",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ConvertJSONToSQL",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -260.82817065804375,
            "y" : 185.08836148563353
          },
          "properties" : {
            "table-schema-cache-size" : "100",
            "Table Name" : "orders",
            "jts-sql-param-attr-prefix" : "sql",
            "Unmatched Field Behavior" : "Ignore Unmatched Fields",
            "Unmatched Column Behavior" : "Fail on Unmatched Columns",
            "jts-quoted-identifiers" : "false",
            "jts-quoted-table-identifiers" : "false",
            "JDBC Connection Pool" : "8005761b-d2a4-3a58-ac6a-0303c4402fbd",
            "Update Keys" : "id",
            "Translate Field Names" : "true",
            "Statement Type" : "UPDATE"
          },
          "propertyDescriptors" : {
            "table-schema-cache-size" : {
              "displayName" : "Table Schema Cache Size",
              "identifiesControllerService" : false,
              "name" : "table-schema-cache-size",
              "sensitive" : false
            },
            "Table Name" : {
              "displayName" : "Table Name",
              "identifiesControllerService" : false,
              "name" : "Table Name",
              "sensitive" : false
            },
            "Catalog Name" : {
              "displayName" : "Catalog Name",
              "identifiesControllerService" : false,
              "name" : "Catalog Name",
              "sensitive" : false
            },
            "jts-sql-param-attr-prefix" : {
              "displayName" : "SQL Parameter Attribute Prefix",
              "identifiesControllerService" : false,
              "name" : "jts-sql-param-attr-prefix",
              "sensitive" : false
            },
            "Schema Name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "Schema Name",
              "sensitive" : false
            },
            "Unmatched Field Behavior" : {
              "displayName" : "Unmatched Field Behavior",
              "identifiesControllerService" : false,
              "name" : "Unmatched Field Behavior",
              "sensitive" : false
            },
            "Unmatched Column Behavior" : {
              "displayName" : "Unmatched Column Behavior",
              "identifiesControllerService" : false,
              "name" : "Unmatched Column Behavior",
              "sensitive" : false
            },
            "jts-quoted-identifiers" : {
              "displayName" : "Quote Column Identifiers",
              "identifiesControllerService" : false,
              "name" : "jts-quoted-identifiers",
              "sensitive" : false
            },
            "jts-quoted-table-identifiers" : {
              "displayName" : "Quote Table Identifiers",
              "identifiesControllerService" : false,
              "name" : "jts-quoted-table-identifiers",
              "sensitive" : false
            },
            "JDBC Connection Pool" : {
              "displayName" : "JDBC Connection Pool",
              "identifiesControllerService" : true,
              "name" : "JDBC Connection Pool",
              "sensitive" : false
            },
            "Update Keys" : {
              "displayName" : "Update Keys",
              "identifiesControllerService" : false,
              "name" : "Update Keys",
              "sensitive" : false
            },
            "Translate Field Names" : {
              "displayName" : "Translate Field Names",
              "identifiesControllerService" : false,
              "name" : "Translate Field Names",
              "sensitive" : false
            },
            "Statement Type" : {
              "displayName" : "Statement Type",
              "identifiesControllerService" : false,
              "name" : "Statement Type",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ConvertJSONToSQL",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : {
        "Connector" : {
          "componentType" : "PARAMETER_CONTEXT",
          "inheritedParameterContexts" : [ ],
          "name" : "Connector",
          "parameters" : [ {
            "description" : "",
            "name" : "ServerMsSql92",
            "sensitive" : false,
            "value" : "10.2.1.92;port=1433;"
          }, {
            "description" : "",
            "name" : "Protocols",
            "sensitive" : false,
            "value" : "authentication=NotSpecified;encrypt=true;trustservercertificate=true"
          }, {
            "description" : "",
            "name" : "DriverClassMsSqlJdbc",
            "sensitive" : false,
            "value" : "com.microsoft.sqlserver.jdbc.SQLServerDriver"
          }, {
            "description" : "",
            "name" : "Stop",
            "sensitive" : false,
            "value" : "0"
          }, {
            "description" : "",
            "name" : "MsSqlAbomApiDB",
            "sensitive" : false,
            "value" : "database=reports_abomAPI;"
          }, {
            "description" : "",
            "name" : "DriverLocation",
            "sensitive" : false,
            "value" : "/drivers_nifi/sqljdbc_10.2/rus/mssql-jdbc-10.2.0.jre8.jar"
          }, {
            "description" : "",
            "name" : "Bearer",
            "sensitive" : false,
            "value" : "Bearer bddba698214e6a4de9ae38bce45435fd"
          }, {
            "description" : "",
            "name" : "UrlJdbcMsSql",
            "sensitive" : false,
            "value" : "jdbc:sqlserver://"
          }, {
            "description" : "",
            "name" : "UrlApiABOM",
            "sensitive" : false,
            "value" : "http://10.2.2.92:9601/"
          } ]
        }
      }
    }
  }
}