Prod_Nifi/PriceListAndPriceListeItem.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : {
        "d01a89eb-d67d-3658-8b3c-b4d9ee061326" : {
          "identifier" : "d01a89eb-d67d-3658-8b3c-b4d9ee061326",
          "name" : "MsSqlConnector(92)"
        }
      },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 3000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
            "id" : "509f7add-ebdb-313a-97a4-5871db1998ef",
            "instanceIdentifier" : "fa90ee97-b848-3215-92a3-61d781ec63a2",
            "name" : "InputPortOrderItemInsert",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
          "identifier" : "968fd654-3c86-3c98-be74-ad27c61e2416",
          "instanceIdentifier" : "1b753451-3aec-34b1-808b-4d3cc55d001a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
            "id" : "05c33378-093c-3ea0-9ca7-26e699c02fab",
            "instanceIdentifier" : "4b058f15-63cc-3996-851f-501e4dd473a3",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
            "id" : "f57febbf-a2a5-30f4-9326-1c1c065fcc92",
            "instanceIdentifier" : "cfdbad9f-3e8c-32fb-99ac-ba05a7133d0d",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
          "identifier" : "3aceed04-7d86-3049-beb6-a9f240949662",
          "instanceIdentifier" : "48a4dd94-2826-327e-a6c6-d738c2f2ace7",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
            "id" : "854494dc-2262-3a7d-87a7-6e2a87e6b89a",
            "instanceIdentifier" : "94f17087-45df-3b00-9759-0d927dfaa32c",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 3000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
            "id" : "d3cbad09-0539-370d-9a7d-512543da7d78",
            "instanceIdentifier" : "d6622b88-6679-3431-a00b-220e88e8e097",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
          "identifier" : "f8fe24c2-f217-35e4-ac51-549bd94cb319",
          "instanceIdentifier" : "1f8264eb-b538-3c76-ad39-9558ca18e67b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "ROUND_ROBIN",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "split" ],
          "source" : {
            "comments" : "",
            "groupId" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
            "id" : "09675be3-f9e5-313d-9341-86f8c53afb26",
            "instanceIdentifier" : "4ebedcb4-a2fd-3e0a-9535-c9a6a9976531",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
            "id" : "dab94fa3-1e60-3052-83dc-8dc6b379d0dc",
            "instanceIdentifier" : "d7723dc5-451f-3fbc-8b3a-5864d8b70d07",
            "name" : "PutSQL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
          "identifier" : "41bdf8ee-bf0f-3147-95bc-267fe297c8aa",
          "instanceIdentifier" : "2308258e-9f55-365c-9172-af98277360e9",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
            "id" : "5a23a4d1-15f5-3e0a-a1f2-44bf1fdb3cdf",
            "instanceIdentifier" : "ab1f8e1f-302e-3838-b28a-b51c75140ac8",
            "name" : "GenerateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
            "id" : "59e2ace4-828e-3300-98a3-c704c856a142",
            "instanceIdentifier" : "d87516ed-039f-32f4-8e8b-81a0071cf72a",
            "name" : "PutSQL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
          "identifier" : "32188277-91e7-391f-a44b-f4179b2ca8eb",
          "instanceIdentifier" : "d725c5ad-7aa9-3135-964e-a697fe956d6b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "sql" ],
          "source" : {
            "comments" : "",
            "groupId" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
            "id" : "2f8b055a-e08e-3979-a05a-19a7b58c401d",
            "instanceIdentifier" : "2ccc468c-ebd2-3a8f-a4d3-5eb7058a2894",
            "name" : "ConvertJSONToSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : -656.9817770728387,
            "y" : -546.5070364635852
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
            "id" : "854494dc-2262-3a7d-87a7-6e2a87e6b89a",
            "instanceIdentifier" : "94f17087-45df-3b00-9759-0d927dfaa32c",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
          "identifier" : "893c3be1-d3ab-3a2d-be17-4f05c1b20636",
          "instanceIdentifier" : "c8d50e6f-3425-3d3c-9da6-f1697b1037a5",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "ROUND_ROBIN",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "4fc56029-1aad-34ae-b9af-4c37d43ce086",
            "id" : "dbd8b0b2-5a6e-3fc6-a195-977caae5ba54",
            "instanceIdentifier" : "4e97bc7e-5be1-3f9d-a8e8-078078ba5ac1",
            "name" : "Output_Invoke_HTTP",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 3000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
            "id" : "05c33378-093c-3ea0-9ca7-26e699c02fab",
            "instanceIdentifier" : "4b058f15-63cc-3996-851f-501e4dd473a3",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
          "identifier" : "a8474c26-6eca-38c9-9aee-73840a858f8e",
          "instanceIdentifier" : "02d674b3-bf9d-3d10-a0e8-9f69d94a69fc",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "sql" ],
          "source" : {
            "comments" : "",
            "groupId" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
            "id" : "2f8b055a-e08e-3979-a05a-19a7b58c401d",
            "instanceIdentifier" : "2ccc468c-ebd2-3a8f-a4d3-5eb7058a2894",
            "name" : "ConvertJSONToSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
            "id" : "09675be3-f9e5-313d-9341-86f8c53afb26",
            "instanceIdentifier" : "4ebedcb4-a2fd-3e0a-9535-c9a6a9976531",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
          "identifier" : "bcee4b98-41ce-3645-8d69-12c4ec80e17b",
          "instanceIdentifier" : "763ad02b-f72b-3b75-a215-73cba07cf122",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
            "id" : "854494dc-2262-3a7d-87a7-6e2a87e6b89a",
            "instanceIdentifier" : "94f17087-45df-3b00-9759-0d927dfaa32c",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 3000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
            "id" : "2f8b055a-e08e-3979-a05a-19a7b58c401d",
            "instanceIdentifier" : "2ccc468c-ebd2-3a8f-a4d3-5eb7058a2894",
            "name" : "ConvertJSONToSQL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
          "identifier" : "950b845c-af77-36fd-9d2c-dadc9eb1906e",
          "instanceIdentifier" : "84e00243-7305-353d-aa0b-de3b5a34b69a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
            "id" : "d3cbad09-0539-370d-9a7d-512543da7d78",
            "instanceIdentifier" : "d6622b88-6679-3431-a00b-220e88e8e097",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "4fc56029-1aad-34ae-b9af-4c37d43ce086",
            "id" : "e1dae4a0-2834-3f21-8680-b8916ea50ee8",
            "instanceIdentifier" : "4ceae510-46e3-312d-88db-c3506eb139fa",
            "name" : "Input_Invoke_HTTP",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
          "identifier" : "fd8ef3f0-3705-3819-bed3-5ccfb3a53169",
          "instanceIdentifier" : "a04aa50a-11bb-3eee-82b7-720712a65e24",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "ROUND_ROBIN",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
            "id" : "854494dc-2262-3a7d-87a7-6e2a87e6b89a",
            "instanceIdentifier" : "94f17087-45df-3b00-9759-0d927dfaa32c",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
            "id" : "854494dc-2262-3a7d-87a7-6e2a87e6b89a",
            "instanceIdentifier" : "94f17087-45df-3b00-9759-0d927dfaa32c",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
          "identifier" : "f7a4ff4c-2952-3b99-99fa-68cc6bb7e8de",
          "instanceIdentifier" : "7fe66cea-c478-30bd-8ca8-1eeddf5ba9fb",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
            "id" : "dab94fa3-1e60-3052-83dc-8dc6b379d0dc",
            "instanceIdentifier" : "d7723dc5-451f-3fbc-8b3a-5864d8b70d07",
            "name" : "PutSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
          "identifier" : "f57febbf-a2a5-30f4-9326-1c1c065fcc92",
          "instanceIdentifier" : "cfdbad9f-3e8c-32fb-99ac-ba05a7133d0d",
          "position" : {
            "x" : -572.8281706580437,
            "y" : -374.9116385143665
          }
        } ],
        "identifier" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
        "inputPorts" : [ ],
        "instanceIdentifier" : "31006911-0183-1000-0000-000014d4fed5",
        "labels" : [ ],
        "name" : "PriceListAndPriceListItem",
        "outputPorts" : [ ],
        "parameterContextName" : "Connector",
        "position" : {
          "x" : 704.0,
          "y" : 56.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
              "id" : "5b96ec5b-2534-3cff-a907-2f3425a1c8cf",
              "instanceIdentifier" : "c6a39893-0b71-3de8-a126-6368347bc1f9",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
            "identifier" : "5c673cb2-e019-30aa-a487-9cb462138f77",
            "instanceIdentifier" : "776e98c0-9fff-3c2d-a459-4822d7d162cb",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
              "id" : "1a4c7f9a-853f-34cf-b3f5-e431f227e9fa",
              "instanceIdentifier" : "c9b67756-8768-3444-be78-e36c13790182",
              "name" : "ConvertJSONToSQL",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
              "id" : "b7d356da-f2a1-3e7c-b3f5-89af10685865",
              "instanceIdentifier" : "9bd82115-e80c-3246-a6ca-f56f20fa4aa3",
              "name" : "JoltTransformJSON",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
            "identifier" : "bca3aa5a-206a-35d1-a56e-c681825155eb",
            "instanceIdentifier" : "c553ad47-0096-3621-acea-3aec67a72c5c",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "split" ],
            "source" : {
              "comments" : "",
              "groupId" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
              "id" : "5fb3c88e-dce0-3444-a144-bbd171426125",
              "instanceIdentifier" : "de8fe2d2-8b87-3373-aab7-5ba34cdf7cab",
              "name" : "SplitJson",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
              "id" : "1a4c7f9a-853f-34cf-b3f5-e431f227e9fa",
              "instanceIdentifier" : "c9b67756-8768-3444-be78-e36c13790182",
              "name" : "ConvertJSONToSQL",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
            "identifier" : "22a8ae07-52bd-3217-b360-7275ad62fe7e",
            "instanceIdentifier" : "fa61774e-1ae6-3cff-839e-2c80f057bd06",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
              "id" : "71b7597f-3e47-3120-a6d8-7c204fe1864f",
              "instanceIdentifier" : "ae72e243-c0ea-3981-a2f5-14538e6159fe",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 3000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
              "id" : "7aff8523-a805-35ea-bc6b-573a05737499",
              "instanceIdentifier" : "6686178e-31a7-30d6-99e3-cba5090c22b8",
              "name" : "InvokeHTTP",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
            "identifier" : "2cf206df-6bcb-331b-a753-1bc9edc167b9",
            "instanceIdentifier" : "190dc81c-6228-3ddf-bb34-fd1a42a4326c",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "ROUND_ROBIN",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
              "id" : "509f7add-ebdb-313a-97a4-5871db1998ef",
              "instanceIdentifier" : "fa90ee97-b848-3215-92a3-61d781ec63a2",
              "name" : "InputPortOrderItemInsert",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 3000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
              "id" : "d0a01b79-777e-380d-b27d-8cad857b0ad3",
              "instanceIdentifier" : "0c8747d0-80fe-355f-bf5c-c4eca9721f68",
              "name" : "PutSQL",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
            "identifier" : "d3a59371-bcb6-300d-8bd9-72ef6f5628ee",
            "instanceIdentifier" : "403da6d1-3f9d-3a4c-a05e-8fc05b083226",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "ROUND_ROBIN",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "sql" ],
            "source" : {
              "comments" : "",
              "groupId" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
              "id" : "1a4c7f9a-853f-34cf-b3f5-e431f227e9fa",
              "instanceIdentifier" : "c9b67756-8768-3444-be78-e36c13790182",
              "name" : "ConvertJSONToSQL",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 3000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
              "id" : "5fb3c88e-dce0-3444-a144-bbd171426125",
              "instanceIdentifier" : "de8fe2d2-8b87-3373-aab7-5ba34cdf7cab",
              "name" : "SplitJson",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
            "identifier" : "e4a0de7d-2c71-3c51-b3e1-1671f082c9b7",
            "instanceIdentifier" : "10d3d84b-3caa-3389-8b80-6c5c2abbd98d",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "ROUND_ROBIN",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Response" ],
            "source" : {
              "comments" : "",
              "groupId" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
              "id" : "7aff8523-a805-35ea-bc6b-573a05737499",
              "instanceIdentifier" : "6686178e-31a7-30d6-99e3-cba5090c22b8",
              "name" : "InvokeHTTP",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
              "id" : "78a1358e-5a5f-3caa-8f79-26fc173a6213",
              "instanceIdentifier" : "a88c2201-b143-36ae-a370-8ee0e5435dfc",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
            "identifier" : "984e541a-5aaf-3a28-ad47-b91a11bef56e",
            "instanceIdentifier" : "3a30c362-e002-3c9b-ac6f-04f527c7dfa1",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
              "id" : "7aff8523-a805-35ea-bc6b-573a05737499",
              "instanceIdentifier" : "6686178e-31a7-30d6-99e3-cba5090c22b8",
              "name" : "InvokeHTTP",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
              "id" : "afedecab-19af-353c-b8a3-a0c2b053d24e",
              "instanceIdentifier" : "c5999e61-1bdb-35ef-8a2c-f11dde7d2e63",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
            "identifier" : "9aa16ac9-7ac7-34d6-8de5-84ea83b23e82",
            "instanceIdentifier" : "fa769237-b7c9-33a4-afb9-901e2390d947",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
              "id" : "d0a01b79-777e-380d-b27d-8cad857b0ad3",
              "instanceIdentifier" : "0c8747d0-80fe-355f-bf5c-c4eca9721f68",
              "name" : "PutSQL",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
              "id" : "71b7597f-3e47-3120-a6d8-7c204fe1864f",
              "instanceIdentifier" : "ae72e243-c0ea-3981-a2f5-14538e6159fe",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
            "identifier" : "0a8568d6-9ebf-3e47-bc92-afe3d8013cf4",
            "instanceIdentifier" : "80d333cb-f40c-3385-b06d-fe764772f25e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
              "id" : "b7d356da-f2a1-3e7c-b3f5-89af10685865",
              "instanceIdentifier" : "9bd82115-e80c-3246-a6ca-f56f20fa4aa3",
              "name" : "JoltTransformJSON",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
            "identifier" : "afedecab-19af-353c-b8a3-a0c2b053d24e",
            "instanceIdentifier" : "c5999e61-1bdb-35ef-8a2c-f11dde7d2e63",
            "position" : {
              "x" : 1776.0,
              "y" : 864.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
            "identifier" : "78a1358e-5a5f-3caa-8f79-26fc173a6213",
            "instanceIdentifier" : "a88c2201-b143-36ae-a370-8ee0e5435dfc",
            "position" : {
              "x" : 1152.0,
              "y" : 112.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
            "identifier" : "5b96ec5b-2534-3cff-a907-2f3425a1c8cf",
            "instanceIdentifier" : "c6a39893-0b71-3de8-a126-6368347bc1f9",
            "position" : {
              "x" : 1273.673435840076,
              "y" : 887.4464272704707
            }
          } ],
          "groupIdentifier" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
          "identifier" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
            "identifier" : "509f7add-ebdb-313a-97a4-5871db1998ef",
            "instanceIdentifier" : "fa90ee97-b848-3215-92a3-61d781ec63a2",
            "name" : "InputPortOrderItemInsert",
            "position" : {
              "x" : 160.0,
              "y" : -176.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "5594ec70-71a8-3e81-9ac7-63ccf4770083",
          "labels" : [ ],
          "name" : "insert_shipment_item",
          "outputPorts" : [ ],
          "parameterContextName" : "Connector",
          "position" : {
            "x" : -1504.0,
            "y" : 576.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "original", "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.17.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 3,
            "executionNode" : "ALL",
            "groupIdentifier" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
            "identifier" : "5fb3c88e-dce0-3444-a144-bbd171426125",
            "instanceIdentifier" : "de8fe2d2-8b87-3373-aab7-5ba34cdf7cab",
            "maxBackoffPeriod" : "10 mins",
            "name" : "SplitJson",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1000.0,
              "y" : 248.0
            },
            "properties" : {
              "Null Value Representation" : "empty string",
              "JsonPath Expression" : "data"
            },
            "propertyDescriptors" : {
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "JsonPath Expression" : {
                "displayName" : "JsonPath Expression",
                "identifiesControllerService" : false,
                "name" : "JsonPath Expression",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.SplitJson",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.17.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
            "identifier" : "b7d356da-f2a1-3e7c-b3f5-89af10685865",
            "instanceIdentifier" : "9bd82115-e80c-3246-a6ca-f56f20fa4aa3",
            "maxBackoffPeriod" : "10 mins",
            "name" : "JoltTransformJSON",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 376.0,
              "y" : 400.0
            },
            "properties" : {
              "jolt-spec" : "[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": \"&\"\n    }\n  },\n  {\n    \"operation\": \"modify-default-beta\",\n    \"spec\": {\n      \"price_list\": \"\"\n    }\n  }\n]\n",
              "jolt-transform" : "jolt-transform-chain",
              "pretty_print" : "false",
              "Transform Cache Size" : "1"
            },
            "propertyDescriptors" : {
              "jolt-spec" : {
                "displayName" : "Jolt Specification",
                "identifiesControllerService" : false,
                "name" : "jolt-spec",
                "sensitive" : false
              },
              "jolt-transform" : {
                "displayName" : "Jolt Transformation DSL",
                "identifiesControllerService" : false,
                "name" : "jolt-transform",
                "sensitive" : false
              },
              "jolt-custom-class" : {
                "displayName" : "Custom Transformation Class Name",
                "identifiesControllerService" : false,
                "name" : "jolt-custom-class",
                "sensitive" : false
              },
              "jolt-custom-modules" : {
                "displayName" : "Custom Module Directory",
                "identifiesControllerService" : false,
                "name" : "jolt-custom-modules",
                "resourceDefinition" : {
                  "cardinality" : "MULTIPLE",
                  "resourceTypes" : [ "FILE", "DIRECTORY" ]
                },
                "sensitive" : false
              },
              "pretty_print" : {
                "displayName" : "Pretty Print",
                "identifiesControllerService" : false,
                "name" : "pretty_print",
                "sensitive" : false
              },
              "Transform Cache Size" : {
                "displayName" : "Transform Cache Size",
                "identifiesControllerService" : false,
                "name" : "Transform Cache Size",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.JoltTransformJSON",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.17.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
            "identifier" : "1a4c7f9a-853f-34cf-b3f5-e431f227e9fa",
            "instanceIdentifier" : "c9b67756-8768-3444-be78-e36c13790182",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ConvertJSONToSQL",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 976.0,
              "y" : 584.0
            },
            "properties" : {
              "table-schema-cache-size" : "100",
              "Table Name" : "price_list_items",
              "jts-sql-param-attr-prefix" : "sql",
              "Unmatched Field Behavior" : "Ignore Unmatched Fields",
              "Unmatched Column Behavior" : "Fail on Unmatched Columns",
              "jts-quoted-identifiers" : "false",
              "jts-quoted-table-identifiers" : "false",
              "JDBC Connection Pool" : "d01a89eb-d67d-3658-8b3c-b4d9ee061326",
              "Translate Field Names" : "true",
              "Statement Type" : "INSERT"
            },
            "propertyDescriptors" : {
              "table-schema-cache-size" : {
                "displayName" : "Table Schema Cache Size",
                "identifiesControllerService" : false,
                "name" : "table-schema-cache-size",
                "sensitive" : false
              },
              "Table Name" : {
                "displayName" : "Table Name",
                "identifiesControllerService" : false,
                "name" : "Table Name",
                "sensitive" : false
              },
              "Catalog Name" : {
                "displayName" : "Catalog Name",
                "identifiesControllerService" : false,
                "name" : "Catalog Name",
                "sensitive" : false
              },
              "jts-sql-param-attr-prefix" : {
                "displayName" : "SQL Parameter Attribute Prefix",
                "identifiesControllerService" : false,
                "name" : "jts-sql-param-attr-prefix",
                "sensitive" : false
              },
              "Schema Name" : {
                "displayName" : "Schema Name",
                "identifiesControllerService" : false,
                "name" : "Schema Name",
                "sensitive" : false
              },
              "Unmatched Field Behavior" : {
                "displayName" : "Unmatched Field Behavior",
                "identifiesControllerService" : false,
                "name" : "Unmatched Field Behavior",
                "sensitive" : false
              },
              "Unmatched Column Behavior" : {
                "displayName" : "Unmatched Column Behavior",
                "identifiesControllerService" : false,
                "name" : "Unmatched Column Behavior",
                "sensitive" : false
              },
              "jts-quoted-identifiers" : {
                "displayName" : "Quote Column Identifiers",
                "identifiesControllerService" : false,
                "name" : "jts-quoted-identifiers",
                "sensitive" : false
              },
              "jts-quoted-table-identifiers" : {
                "displayName" : "Quote Table Identifiers",
                "identifiesControllerService" : false,
                "name" : "jts-quoted-table-identifiers",
                "sensitive" : false
              },
              "JDBC Connection Pool" : {
                "displayName" : "JDBC Connection Pool",
                "identifiesControllerService" : true,
                "name" : "JDBC Connection Pool",
                "sensitive" : false
              },
              "Update Keys" : {
                "displayName" : "Update Keys",
                "identifiesControllerService" : false,
                "name" : "Update Keys",
                "sensitive" : false
              },
              "Translate Field Names" : {
                "displayName" : "Translate Field Names",
                "identifiesControllerService" : false,
                "name" : "Translate Field Names",
                "sensitive" : false
              },
              "Statement Type" : {
                "displayName" : "Statement Type",
                "identifiesControllerService" : false,
                "name" : "Statement Type",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ConvertJSONToSQL",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success", "retry" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.17.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
            "identifier" : "d0a01b79-777e-380d-b27d-8cad857b0ad3",
            "instanceIdentifier" : "0c8747d0-80fe-355f-bf5c-c4eca9721f68",
            "maxBackoffPeriod" : "10 mins",
            "name" : "PutSQL",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1624.0,
              "y" : 576.0
            },
            "properties" : {
              "Support Fragmented Transactions" : "true",
              "Batch Size" : "1000",
              "Obtain Generated Keys" : "false",
              "JDBC Connection Pool" : "d01a89eb-d67d-3658-8b3c-b4d9ee061326",
              "database-session-autocommit" : "false",
              "rollback-on-failure" : "false"
            },
            "propertyDescriptors" : {
              "Support Fragmented Transactions" : {
                "displayName" : "Support Fragmented Transactions",
                "identifiesControllerService" : false,
                "name" : "Support Fragmented Transactions",
                "sensitive" : false
              },
              "putsql-sql-statement" : {
                "displayName" : "SQL Statement",
                "identifiesControllerService" : false,
                "name" : "putsql-sql-statement",
                "sensitive" : false
              },
              "Transaction Timeout" : {
                "displayName" : "Transaction Timeout",
                "identifiesControllerService" : false,
                "name" : "Transaction Timeout",
                "sensitive" : false
              },
              "Batch Size" : {
                "displayName" : "Batch Size",
                "identifiesControllerService" : false,
                "name" : "Batch Size",
                "sensitive" : false
              },
              "Obtain Generated Keys" : {
                "displayName" : "Obtain Generated Keys",
                "identifiesControllerService" : false,
                "name" : "Obtain Generated Keys",
                "sensitive" : false
              },
              "JDBC Connection Pool" : {
                "displayName" : "JDBC Connection Pool",
                "identifiesControllerService" : true,
                "name" : "JDBC Connection Pool",
                "sensitive" : false
              },
              "database-session-autocommit" : {
                "displayName" : "Database Session AutoCommit",
                "identifiesControllerService" : false,
                "name" : "database-session-autocommit",
                "sensitive" : false
              },
              "rollback-on-failure" : {
                "displayName" : "Rollback On Failure",
                "identifiesControllerService" : false,
                "name" : "rollback-on-failure",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "1 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.PutSQL",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.17.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
            "identifier" : "71b7597f-3e47-3120-a6d8-7c204fe1864f",
            "instanceIdentifier" : "ae72e243-c0ea-3981-a2f5-14538e6159fe",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ReplaceText",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 376.0,
              "y" : 592.0
            },
            "properties" : {
              "Regular Expression" : "\"price_list\":\"\"",
              "Replacement Value" : "\"price_list_id\":\"${price_list_id}\"",
              "Evaluation Mode" : "Line-by-Line",
              "Line-by-Line Evaluation Mode" : "First-Line",
              "Character Set" : "UTF-8",
              "Maximum Buffer Size" : "20 MB",
              "Replacement Strategy" : "Literal Replace"
            },
            "propertyDescriptors" : {
              "Regular Expression" : {
                "displayName" : "Search Value",
                "identifiesControllerService" : false,
                "name" : "Regular Expression",
                "sensitive" : false
              },
              "Replacement Value" : {
                "displayName" : "Replacement Value",
                "identifiesControllerService" : false,
                "name" : "Replacement Value",
                "sensitive" : false
              },
              "Evaluation Mode" : {
                "displayName" : "Evaluation Mode",
                "identifiesControllerService" : false,
                "name" : "Evaluation Mode",
                "sensitive" : false
              },
              "Line-by-Line Evaluation Mode" : {
                "displayName" : "Line-by-Line Evaluation Mode",
                "identifiesControllerService" : false,
                "name" : "Line-by-Line Evaluation Mode",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "Maximum Buffer Size" : {
                "displayName" : "Maximum Buffer Size",
                "identifiesControllerService" : false,
                "name" : "Maximum Buffer Size",
                "sensitive" : false
              },
              "Replacement Strategy" : {
                "displayName" : "Replacement Strategy",
                "identifiesControllerService" : false,
                "name" : "Replacement Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ReplaceText",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.17.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 10,
            "executionNode" : "ALL",
            "groupIdentifier" : "dbbba735-0e7f-38dd-b7d7-a513df91edd1",
            "identifier" : "7aff8523-a805-35ea-bc6b-573a05737499",
            "instanceIdentifier" : "6686178e-31a7-30d6-99e3-cba5090c22b8",
            "maxBackoffPeriod" : "10 mins",
            "name" : "InvokeHTTP",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 384.0,
              "y" : 96.0
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "cookie-strategy" : "DISABLED",
              "Connection Timeout" : "15 mins",
              "send-message-body" : "true",
              "Authorization" : "#{Bearer}",
              "set-form-filename" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "Content-Encoding" : "DISABLED",
              "disable-http2" : "False",
              "idle-timeout" : "30 mins",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "True",
              "Remote URL" : "#{UrlApiABOM}price-list-items?page_size=3000&price_list_id=${price_list_id}",
              "Content-Type" : "${mime.type}",
              "flow-file-naming-strategy" : "RANDOM",
              "max-idle-connections" : "5",
              "Read Timeout" : "15 mins",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "Digest Authentication" : "false",
              "HTTP Method" : "GET",
              "Add Response Headers to Request" : "false",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "false"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Request Header Attributes Pattern",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Response Cache Enabled",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Request Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "cookie-strategy" : {
                "displayName" : "Response Cookie Strategy",
                "identifiesControllerService" : false,
                "name" : "cookie-strategy",
                "sensitive" : false
              },
              "Connection Timeout" : {
                "displayName" : "Socket Connect Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Request Body Enabled",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "Authorization" : {
                "displayName" : "Authorization",
                "identifiesControllerService" : false,
                "name" : "Authorization",
                "sensitive" : false
              },
              "set-form-filename" : {
                "displayName" : "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService" : false,
                "name" : "set-form-filename",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Response Generation Required",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Response Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "Content-Encoding" : {
                "displayName" : "Request Content-Encoding",
                "identifiesControllerService" : false,
                "name" : "Content-Encoding",
                "sensitive" : false
              },
              "disable-http2" : {
                "displayName" : "HTTP/2 Disabled",
                "identifiesControllerService" : false,
                "name" : "disable-http2",
                "sensitive" : false
              },
              "idle-timeout" : {
                "displayName" : "Socket Idle Timeout",
                "identifiesControllerService" : false,
                "name" : "idle-timeout",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Response Body Attribute Name",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Response Redirects Enabled",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "HTTP URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "form-body-form-name" : {
                "displayName" : "Request Multipart Form-Data Name",
                "identifiesControllerService" : false,
                "name" : "form-body-form-name",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Request Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "flow-file-naming-strategy" : {
                "displayName" : "Response FlowFile Naming Strategy",
                "identifiesControllerService" : false,
                "name" : "flow-file-naming-strategy",
                "sensitive" : false
              },
              "max-idle-connections" : {
                "displayName" : "Socket Idle Connections",
                "identifiesControllerService" : false,
                "name" : "max-idle-connections",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Socket Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Response Body Attribute Size",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Response Body Ignored",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Request Digest Authentication Enabled",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Response Header Request Attributes Enabled",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "oauth2-access-token-provider" : {
                "displayName" : "Request OAuth2 Access Token Provider",
                "identifiesControllerService" : true,
                "name" : "oauth2-access-token-provider",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Request Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Request Date Header Enabled",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Request Failure Penalization Enabled",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              },
              "Useragent" : {
                "displayName" : "Request User-Agent",
                "identifiesControllerService" : false,
                "name" : "Useragent",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "1 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "4fc56029-1aad-34ae-b9af-4c37d43ce086",
              "id" : "a5a1e16d-52dd-3173-a963-90a27562aa36",
              "instanceIdentifier" : "ebf32bd6-1b61-3e61-b91e-75a93387ba00",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "4fc56029-1aad-34ae-b9af-4c37d43ce086",
            "identifier" : "f461cf8a-35b5-319a-a681-1a78b4f0c646",
            "instanceIdentifier" : "9fb14aca-c75c-396a-a181-0ec8d92a6217",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "next" ],
            "source" : {
              "comments" : "",
              "groupId" : "4fc56029-1aad-34ae-b9af-4c37d43ce086",
              "id" : "8cdc098d-5c69-3b8a-8561-14c65de76dbd",
              "instanceIdentifier" : "9b4506e0-ebc2-3273-8ea6-f5da1027bd36",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "4fc56029-1aad-34ae-b9af-4c37d43ce086",
              "id" : "dbd8b0b2-5a6e-3fc6-a195-977caae5ba54",
              "instanceIdentifier" : "4e97bc7e-5be1-3f9d-a8e8-078078ba5ac1",
              "name" : "Output_Invoke_HTTP",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "4fc56029-1aad-34ae-b9af-4c37d43ce086",
            "identifier" : "efe8539d-486d-3215-a01c-b33ad88b44e6",
            "instanceIdentifier" : "c70a54d8-bccd-38f4-9bb8-f01b8ec1f8e2",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "4fc56029-1aad-34ae-b9af-4c37d43ce086",
              "id" : "a5a1e16d-52dd-3173-a963-90a27562aa36",
              "instanceIdentifier" : "ebf32bd6-1b61-3e61-b91e-75a93387ba00",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "4fc56029-1aad-34ae-b9af-4c37d43ce086",
              "id" : "347527ac-a4a1-3d5c-841a-b87043aa7c56",
              "instanceIdentifier" : "d2e75f2a-9fe9-3993-a366-993246387f11",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "4fc56029-1aad-34ae-b9af-4c37d43ce086",
            "identifier" : "ecad55dd-d5eb-348e-b0f7-f084ab11d10e",
            "instanceIdentifier" : "3007132f-2e99-3043-b34d-3ac14438061c",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "4fc56029-1aad-34ae-b9af-4c37d43ce086",
              "id" : "0a764b1d-ad6b-3091-aa69-767b6256bfb0",
              "instanceIdentifier" : "893b3409-52f4-358e-bf7e-f0ff2a449c14",
              "name" : "JoltTransformJSON",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "4fc56029-1aad-34ae-b9af-4c37d43ce086",
              "id" : "0a764b1d-ad6b-3091-aa69-767b6256bfb0",
              "instanceIdentifier" : "893b3409-52f4-358e-bf7e-f0ff2a449c14",
              "name" : "JoltTransformJSON",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "4fc56029-1aad-34ae-b9af-4c37d43ce086",
            "identifier" : "3c381740-3164-31b9-a19d-bff8417463e9",
            "instanceIdentifier" : "9fe89a25-bc04-3da0-9094-25b69a9174ba",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "4fc56029-1aad-34ae-b9af-4c37d43ce086",
              "id" : "e1dae4a0-2834-3f21-8680-b8916ea50ee8",
              "instanceIdentifier" : "4ceae510-46e3-312d-88db-c3506eb139fa",
              "name" : "Input_Invoke_HTTP",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "4fc56029-1aad-34ae-b9af-4c37d43ce086",
              "id" : "8cdc098d-5c69-3b8a-8561-14c65de76dbd",
              "instanceIdentifier" : "9b4506e0-ebc2-3273-8ea6-f5da1027bd36",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "4fc56029-1aad-34ae-b9af-4c37d43ce086",
            "identifier" : "b31da34d-1fb2-3918-98cb-6717d56c9aab",
            "instanceIdentifier" : "b2ede925-55b8-3f3d-89a3-f69abad54446",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "4fc56029-1aad-34ae-b9af-4c37d43ce086",
              "id" : "347527ac-a4a1-3d5c-841a-b87043aa7c56",
              "instanceIdentifier" : "d2e75f2a-9fe9-3993-a366-993246387f11",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
          "identifier" : "4fc56029-1aad-34ae-b9af-4c37d43ce086",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "4fc56029-1aad-34ae-b9af-4c37d43ce086",
            "identifier" : "e1dae4a0-2834-3f21-8680-b8916ea50ee8",
            "instanceIdentifier" : "4ceae510-46e3-312d-88db-c3506eb139fa",
            "name" : "Input_Invoke_HTTP",
            "position" : {
              "x" : 464.0,
              "y" : -216.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "f85909b8-6c9b-32da-b09f-559e39778420",
          "labels" : [ ],
          "name" : "cycle",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "4fc56029-1aad-34ae-b9af-4c37d43ce086",
            "identifier" : "dbd8b0b2-5a6e-3fc6-a195-977caae5ba54",
            "instanceIdentifier" : "4e97bc7e-5be1-3f9d-a8e8-078078ba5ac1",
            "name" : "Output_Invoke_HTTP",
            "position" : {
              "x" : 448.0,
              "y" : -488.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : -460.82817065804375,
            "y" : -566.9116385143665
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.17.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "4fc56029-1aad-34ae-b9af-4c37d43ce086",
            "identifier" : "a5a1e16d-52dd-3173-a963-90a27562aa36",
            "instanceIdentifier" : "ebf32bd6-1b61-3e61-b91e-75a93387ba00",
            "maxBackoffPeriod" : "10 mins",
            "name" : "UpdateAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 968.0,
              "y" : -504.0
            },
            "properties" : {
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100",
              "page" : "${page:plus(1)}"
            },
            "propertyDescriptors" : {
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "page" : {
                "displayName" : "page",
                "identifiesControllerService" : false,
                "name" : "page",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.17.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "4fc56029-1aad-34ae-b9af-4c37d43ce086",
            "identifier" : "0a764b1d-ad6b-3091-aa69-767b6256bfb0",
            "instanceIdentifier" : "893b3409-52f4-358e-bf7e-f0ff2a449c14",
            "maxBackoffPeriod" : "10 mins",
            "name" : "JoltTransformJSON",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 968.0,
              "y" : -144.0
            },
            "properties" : {
              "jolt-spec" : "[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"data\": {\n        \"*\": \"&\"\n      }\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"#test\": \"-1.id\",\n      \"*\": \"&\"\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"0\": {\n        \"*\": {\n          \"#next\": \"status\"\n        }\n      },\n      \"-1\": {\n        \"*\": {\n          \"#stop\": \"status\"\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"status\": \"=firstElement(@(1,status))\"\n    }\n  }\n]\n",
              "jolt-transform" : "jolt-transform-chain",
              "pretty_print" : "false",
              "Transform Cache Size" : "1"
            },
            "propertyDescriptors" : {
              "jolt-spec" : {
                "displayName" : "Jolt Specification",
                "identifiesControllerService" : false,
                "name" : "jolt-spec",
                "sensitive" : false
              },
              "jolt-transform" : {
                "displayName" : "Jolt Transformation DSL",
                "identifiesControllerService" : false,
                "name" : "jolt-transform",
                "sensitive" : false
              },
              "jolt-custom-class" : {
                "displayName" : "Custom Transformation Class Name",
                "identifiesControllerService" : false,
                "name" : "jolt-custom-class",
                "sensitive" : false
              },
              "jolt-custom-modules" : {
                "displayName" : "Custom Module Directory",
                "identifiesControllerService" : false,
                "name" : "jolt-custom-modules",
                "resourceDefinition" : {
                  "cardinality" : "MULTIPLE",
                  "resourceTypes" : [ "FILE", "DIRECTORY" ]
                },
                "sensitive" : false
              },
              "pretty_print" : {
                "displayName" : "Pretty Print",
                "identifiesControllerService" : false,
                "name" : "pretty_print",
                "sensitive" : false
              },
              "Transform Cache Size" : {
                "displayName" : "Transform Cache Size",
                "identifiesControllerService" : false,
                "name" : "Transform Cache Size",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.JoltTransformJSON",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "unmatched" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.17.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "4fc56029-1aad-34ae-b9af-4c37d43ce086",
            "identifier" : "347527ac-a4a1-3d5c-841a-b87043aa7c56",
            "instanceIdentifier" : "d2e75f2a-9fe9-3993-a366-993246387f11",
            "maxBackoffPeriod" : "10 mins",
            "name" : "EvaluateJsonPath",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1624.0,
              "y" : -152.0
            },
            "properties" : {
              "Destination" : "flowfile-attribute",
              "Return Type" : "auto-detect",
              "Null Value Representation" : "empty string",
              "Path Not Found Behavior" : "ignore",
              "status" : "$.status"
            },
            "propertyDescriptors" : {
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              },
              "status" : {
                "displayName" : "status",
                "identifiesControllerService" : false,
                "name" : "status",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "stop", "unmatched" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.17.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "4fc56029-1aad-34ae-b9af-4c37d43ce086",
            "identifier" : "8cdc098d-5c69-3b8a-8561-14c65de76dbd",
            "instanceIdentifier" : "9b4506e0-ebc2-3273-8ea6-f5da1027bd36",
            "maxBackoffPeriod" : "10 mins",
            "name" : "RouteOnAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1616.0,
              "y" : -512.0
            },
            "properties" : {
              "next" : "${status:equals('next')}",
              "Routing Strategy" : "Route to Property name",
              "stop" : "${status:equals('stop')}"
            },
            "propertyDescriptors" : {
              "next" : {
                "displayName" : "next",
                "identifiesControllerService" : false,
                "name" : "next",
                "sensitive" : false
              },
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              },
              "stop" : {
                "displayName" : "stop",
                "identifiesControllerService" : false,
                "name" : "stop",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        } ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
          "identifier" : "2f8b055a-e08e-3979-a05a-19a7b58c401d",
          "instanceIdentifier" : "2ccc468c-ebd2-3a8f-a4d3-5eb7058a2894",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ConvertJSONToSQL",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -868.8281706580437,
            "y" : 161.08836148563353
          },
          "properties" : {
            "table-schema-cache-size" : "100",
            "Table Name" : "price_lists",
            "jts-sql-param-attr-prefix" : "sql",
            "Unmatched Field Behavior" : "Ignore Unmatched Fields",
            "Unmatched Column Behavior" : "Fail on Unmatched Columns",
            "jts-quoted-identifiers" : "false",
            "jts-quoted-table-identifiers" : "false",
            "JDBC Connection Pool" : "d01a89eb-d67d-3658-8b3c-b4d9ee061326",
            "Translate Field Names" : "true",
            "Statement Type" : "INSERT"
          },
          "propertyDescriptors" : {
            "table-schema-cache-size" : {
              "displayName" : "Table Schema Cache Size",
              "identifiesControllerService" : false,
              "name" : "table-schema-cache-size",
              "sensitive" : false
            },
            "Table Name" : {
              "displayName" : "Table Name",
              "identifiesControllerService" : false,
              "name" : "Table Name",
              "sensitive" : false
            },
            "Catalog Name" : {
              "displayName" : "Catalog Name",
              "identifiesControllerService" : false,
              "name" : "Catalog Name",
              "sensitive" : false
            },
            "jts-sql-param-attr-prefix" : {
              "displayName" : "SQL Parameter Attribute Prefix",
              "identifiesControllerService" : false,
              "name" : "jts-sql-param-attr-prefix",
              "sensitive" : false
            },
            "Schema Name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "Schema Name",
              "sensitive" : false
            },
            "Unmatched Field Behavior" : {
              "displayName" : "Unmatched Field Behavior",
              "identifiesControllerService" : false,
              "name" : "Unmatched Field Behavior",
              "sensitive" : false
            },
            "Unmatched Column Behavior" : {
              "displayName" : "Unmatched Column Behavior",
              "identifiesControllerService" : false,
              "name" : "Unmatched Column Behavior",
              "sensitive" : false
            },
            "jts-quoted-identifiers" : {
              "displayName" : "Quote Column Identifiers",
              "identifiesControllerService" : false,
              "name" : "jts-quoted-identifiers",
              "sensitive" : false
            },
            "jts-quoted-table-identifiers" : {
              "displayName" : "Quote Table Identifiers",
              "identifiesControllerService" : false,
              "name" : "jts-quoted-table-identifiers",
              "sensitive" : false
            },
            "JDBC Connection Pool" : {
              "displayName" : "JDBC Connection Pool",
              "identifiesControllerService" : true,
              "name" : "JDBC Connection Pool",
              "sensitive" : false
            },
            "Update Keys" : {
              "displayName" : "Update Keys",
              "identifiesControllerService" : false,
              "name" : "Update Keys",
              "sensitive" : false
            },
            "Translate Field Names" : {
              "displayName" : "Translate Field Names",
              "identifiesControllerService" : false,
              "name" : "Translate Field Names",
              "sensitive" : false
            },
            "Statement Type" : {
              "displayName" : "Statement Type",
              "identifiesControllerService" : false,
              "name" : "Statement Type",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ConvertJSONToSQL",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "PRIMARY",
          "groupIdentifier" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
          "identifier" : "5a23a4d1-15f5-3e0a-a1f2-44bf1fdb3cdf",
          "instanceIdentifier" : "ab1f8e1f-302e-3838-b28a-b51c75140ac8",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GenerateFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1848.0,
            "y" : -1024.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "0B",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "page" : "1",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "page" : {
              "displayName" : "page",
              "identifiesControllerService" : false,
              "name" : "page",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 30 19 * * ?",
          "schedulingStrategy" : "CRON_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
          "identifier" : "854494dc-2262-3a7d-87a7-6e2a87e6b89a",
          "instanceIdentifier" : "94f17087-45df-3b00-9759-0d927dfaa32c",
          "maxBackoffPeriod" : "10 mins",
          "name" : "InvokeHTTP",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1232.0,
            "y" : -544.0
          },
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "cookie-strategy" : "DISABLED",
            "Connection Timeout" : "15 mins",
            "send-message-body" : "true",
            "Authorization" : "#{Bearer}",
            "set-form-filename" : "true",
            "Always Output Response" : "false",
            "etag-max-cache-size" : "10MB",
            "Content-Encoding" : "DISABLED",
            "disable-http2" : "False",
            "idle-timeout" : "30 mins",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "True",
            "Remote URL" : "#{UrlApiABOM}price-lists?page_size=3000&page=${page}",
            "Content-Type" : "${mime.type}",
            "flow-file-naming-strategy" : "RANDOM",
            "max-idle-connections" : "5",
            "Read Timeout" : "15 mins",
            "Max Length To Put In Attribute" : "256",
            "ignore-response-content" : "false",
            "Digest Authentication" : "false",
            "HTTP Method" : "GET",
            "Add Response Headers to Request" : "false",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "Attributes to Send" : {
              "displayName" : "Request Header Attributes Pattern",
              "identifiesControllerService" : false,
              "name" : "Attributes to Send",
              "sensitive" : false
            },
            "use-etag" : {
              "displayName" : "Response Cache Enabled",
              "identifiesControllerService" : false,
              "name" : "use-etag",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Proxy Type" : {
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "name" : "Proxy Type",
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "displayName" : "Request Password",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Password",
              "sensitive" : true
            },
            "cookie-strategy" : {
              "displayName" : "Response Cookie Strategy",
              "identifiesControllerService" : false,
              "name" : "cookie-strategy",
              "sensitive" : false
            },
            "Connection Timeout" : {
              "displayName" : "Socket Connect Timeout",
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "send-message-body" : {
              "displayName" : "Request Body Enabled",
              "identifiesControllerService" : false,
              "name" : "send-message-body",
              "sensitive" : false
            },
            "Authorization" : {
              "displayName" : "Authorization",
              "identifiesControllerService" : false,
              "name" : "Authorization",
              "sensitive" : false
            },
            "set-form-filename" : {
              "displayName" : "Request Multipart Form-Data Filename Enabled",
              "identifiesControllerService" : false,
              "name" : "set-form-filename",
              "sensitive" : false
            },
            "Always Output Response" : {
              "displayName" : "Response Generation Required",
              "identifiesControllerService" : false,
              "name" : "Always Output Response",
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "displayName" : "Response Cache Size",
              "identifiesControllerService" : false,
              "name" : "etag-max-cache-size",
              "sensitive" : false
            },
            "Content-Encoding" : {
              "displayName" : "Request Content-Encoding",
              "identifiesControllerService" : false,
              "name" : "Content-Encoding",
              "sensitive" : false
            },
            "disable-http2" : {
              "displayName" : "HTTP/2 Disabled",
              "identifiesControllerService" : false,
              "name" : "disable-http2",
              "sensitive" : false
            },
            "idle-timeout" : {
              "displayName" : "Socket Idle Timeout",
              "identifiesControllerService" : false,
              "name" : "idle-timeout",
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "displayName" : "Response Body Attribute Name",
              "identifiesControllerService" : false,
              "name" : "Put Response Body In Attribute",
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "displayName" : "Request Chunked Transfer-Encoding Enabled",
              "identifiesControllerService" : false,
              "name" : "Use Chunked Encoding",
              "sensitive" : false
            },
            "Follow Redirects" : {
              "displayName" : "Response Redirects Enabled",
              "identifiesControllerService" : false,
              "name" : "Follow Redirects",
              "sensitive" : false
            },
            "Remote URL" : {
              "displayName" : "HTTP URL",
              "identifiesControllerService" : false,
              "name" : "Remote URL",
              "sensitive" : false
            },
            "form-body-form-name" : {
              "displayName" : "Request Multipart Form-Data Name",
              "identifiesControllerService" : false,
              "name" : "form-body-form-name",
              "sensitive" : false
            },
            "Content-Type" : {
              "displayName" : "Request Content-Type",
              "identifiesControllerService" : false,
              "name" : "Content-Type",
              "sensitive" : false
            },
            "flow-file-naming-strategy" : {
              "displayName" : "Response FlowFile Naming Strategy",
              "identifiesControllerService" : false,
              "name" : "flow-file-naming-strategy",
              "sensitive" : false
            },
            "max-idle-connections" : {
              "displayName" : "Socket Idle Connections",
              "identifiesControllerService" : false,
              "name" : "max-idle-connections",
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-user",
              "sensitive" : false
            },
            "Read Timeout" : {
              "displayName" : "Socket Read Timeout",
              "identifiesControllerService" : false,
              "name" : "Read Timeout",
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "displayName" : "Response Body Attribute Size",
              "identifiesControllerService" : false,
              "name" : "Max Length To Put In Attribute",
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-password",
              "sensitive" : true
            },
            "ignore-response-content" : {
              "displayName" : "Response Body Ignored",
              "identifiesControllerService" : false,
              "name" : "ignore-response-content",
              "sensitive" : false
            },
            "Proxy Port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Port",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Digest Authentication" : {
              "displayName" : "Request Digest Authentication Enabled",
              "identifiesControllerService" : false,
              "name" : "Digest Authentication",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "displayName" : "Response Header Request Attributes Enabled",
              "identifiesControllerService" : false,
              "name" : "Add Response Headers to Request",
              "sensitive" : false
            },
            "oauth2-access-token-provider" : {
              "displayName" : "Request OAuth2 Access Token Provider",
              "identifiesControllerService" : true,
              "name" : "oauth2-access-token-provider",
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "displayName" : "Request Username",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Username",
              "sensitive" : false
            },
            "Include Date Header" : {
              "displayName" : "Request Date Header Enabled",
              "identifiesControllerService" : false,
              "name" : "Include Date Header",
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "displayName" : "Request Failure Penalization Enabled",
              "identifiesControllerService" : false,
              "name" : "Penalize on \"No Retry\"",
              "sensitive" : false
            },
            "Useragent" : {
              "displayName" : "Request User-Agent",
              "identifiesControllerService" : false,
              "name" : "Useragent",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "1 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
          "identifier" : "05c33378-093c-3ea0-9ca7-26e699c02fab",
          "instanceIdentifier" : "4b058f15-63cc-3996-851f-501e4dd473a3",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1488.0,
            "y" : 248.0
          },
          "properties" : {
            "Delete Attributes Expression" : "sql.*",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "price_list_id" : "${sql.args.1.value}"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            },
            "price_list_id" : {
              "displayName" : "price_list_id",
              "identifiesControllerService" : false,
              "name" : "price_list_id",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
          "identifier" : "d3cbad09-0539-370d-9a7d-512543da7d78",
          "instanceIdentifier" : "d6622b88-6679-3431-a00b-220e88e8e097",
          "maxBackoffPeriod" : "10 mins",
          "name" : "JoltTransformJSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1232.0,
            "y" : -72.0
          },
          "properties" : {
            "jolt-spec" : "[\n  {\n    \"operation\": \"modify-default-beta\",\n    \"spec\": {\n      \"nupdated\": \"=concat(@(1,updated),'.000')\"\n    }\n  },\n  {\n    \"operation\": \"remove\",\n    \"spec\": {\n      \"updated\": \"\"\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": \"&\",\n      \"nupdated\": \"updated\"\n    }\n  }\n]\n",
            "jolt-transform" : "jolt-transform-chain",
            "pretty_print" : "false",
            "Transform Cache Size" : "1"
          },
          "propertyDescriptors" : {
            "jolt-spec" : {
              "displayName" : "Jolt Specification",
              "identifiesControllerService" : false,
              "name" : "jolt-spec",
              "sensitive" : false
            },
            "jolt-transform" : {
              "displayName" : "Jolt Transformation DSL",
              "identifiesControllerService" : false,
              "name" : "jolt-transform",
              "sensitive" : false
            },
            "jolt-custom-class" : {
              "displayName" : "Custom Transformation Class Name",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-class",
              "sensitive" : false
            },
            "jolt-custom-modules" : {
              "displayName" : "Custom Module Directory",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-modules",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "FILE", "DIRECTORY" ]
              },
              "sensitive" : false
            },
            "pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "pretty_print",
              "sensitive" : false
            },
            "Transform Cache Size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "Transform Cache Size",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.JoltTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
          "identifier" : "09675be3-f9e5-313d-9341-86f8c53afb26",
          "instanceIdentifier" : "4ebedcb4-a2fd-3e0a-9535-c9a6a9976531",
          "maxBackoffPeriod" : "10 mins",
          "name" : "SplitJson",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1236.8281706580437,
            "y" : -310.9116385143665
          },
          "properties" : {
            "Null Value Representation" : "empty string",
            "JsonPath Expression" : "data"
          },
          "propertyDescriptors" : {
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "JsonPath Expression" : {
              "displayName" : "JsonPath Expression",
              "identifiesControllerService" : false,
              "name" : "JsonPath Expression",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.SplitJson",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure", "retry" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
          "identifier" : "59e2ace4-828e-3300-98a3-c704c856a142",
          "instanceIdentifier" : "d87516ed-039f-32f4-8e8b-81a0071cf72a",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutSQL",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -876.8281706580437,
            "y" : 425.0883614856335
          },
          "properties" : {
            "Support Fragmented Transactions" : "true",
            "Batch Size" : "100",
            "Obtain Generated Keys" : "false",
            "JDBC Connection Pool" : "d01a89eb-d67d-3658-8b3c-b4d9ee061326",
            "database-session-autocommit" : "false",
            "rollback-on-failure" : "false"
          },
          "propertyDescriptors" : {
            "Support Fragmented Transactions" : {
              "displayName" : "Support Fragmented Transactions",
              "identifiesControllerService" : false,
              "name" : "Support Fragmented Transactions",
              "sensitive" : false
            },
            "putsql-sql-statement" : {
              "displayName" : "SQL Statement",
              "identifiesControllerService" : false,
              "name" : "putsql-sql-statement",
              "sensitive" : false
            },
            "Transaction Timeout" : {
              "displayName" : "Transaction Timeout",
              "identifiesControllerService" : false,
              "name" : "Transaction Timeout",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Obtain Generated Keys" : {
              "displayName" : "Obtain Generated Keys",
              "identifiesControllerService" : false,
              "name" : "Obtain Generated Keys",
              "sensitive" : false
            },
            "JDBC Connection Pool" : {
              "displayName" : "JDBC Connection Pool",
              "identifiesControllerService" : true,
              "name" : "JDBC Connection Pool",
              "sensitive" : false
            },
            "database-session-autocommit" : {
              "displayName" : "Database Session AutoCommit",
              "identifiesControllerService" : false,
              "name" : "database-session-autocommit",
              "sensitive" : false
            },
            "rollback-on-failure" : {
              "displayName" : "Rollback On Failure",
              "identifiesControllerService" : false,
              "name" : "rollback-on-failure",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutSQL",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure", "retry" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.17.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d9d71fbe-bbdf-31ed-8ab8-5c27867d5bca",
          "identifier" : "dab94fa3-1e60-3052-83dc-8dc6b379d0dc",
          "instanceIdentifier" : "d7723dc5-451f-3fbc-8b3a-5864d8b70d07",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutSQL",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1576.0,
            "y" : -776.0
          },
          "properties" : {
            "Support Fragmented Transactions" : "false",
            "putsql-sql-statement" : "TRUNCATE TABLE price_list_items;\nTRUNCATE TABLE price_lists;",
            "Batch Size" : "100",
            "Obtain Generated Keys" : "false",
            "JDBC Connection Pool" : "d01a89eb-d67d-3658-8b3c-b4d9ee061326",
            "database-session-autocommit" : "false",
            "rollback-on-failure" : "false"
          },
          "propertyDescriptors" : {
            "Support Fragmented Transactions" : {
              "displayName" : "Support Fragmented Transactions",
              "identifiesControllerService" : false,
              "name" : "Support Fragmented Transactions",
              "sensitive" : false
            },
            "putsql-sql-statement" : {
              "displayName" : "SQL Statement",
              "identifiesControllerService" : false,
              "name" : "putsql-sql-statement",
              "sensitive" : false
            },
            "Transaction Timeout" : {
              "displayName" : "Transaction Timeout",
              "identifiesControllerService" : false,
              "name" : "Transaction Timeout",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Obtain Generated Keys" : {
              "displayName" : "Obtain Generated Keys",
              "identifiesControllerService" : false,
              "name" : "Obtain Generated Keys",
              "sensitive" : false
            },
            "JDBC Connection Pool" : {
              "displayName" : "JDBC Connection Pool",
              "identifiesControllerService" : true,
              "name" : "JDBC Connection Pool",
              "sensitive" : false
            },
            "database-session-autocommit" : {
              "displayName" : "Database Session AutoCommit",
              "identifiesControllerService" : false,
              "name" : "database-session-autocommit",
              "sensitive" : false
            },
            "rollback-on-failure" : {
              "displayName" : "Rollback On Failure",
              "identifiesControllerService" : false,
              "name" : "rollback-on-failure",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "10 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutSQL",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : {
        "Connector" : {
          "componentType" : "PARAMETER_CONTEXT",
          "inheritedParameterContexts" : [ ],
          "name" : "Connector",
          "parameters" : [ {
            "description" : "",
            "name" : "Protocols",
            "sensitive" : false,
            "value" : "authentication=NotSpecified;encrypt=true;trustservercertificate=true"
          }, {
            "description" : "",
            "name" : "Stop",
            "sensitive" : false,
            "value" : "0"
          }, {
            "description" : "",
            "name" : "WmsDB",
            "sensitive" : false,
            "value" : "database=wmsintegration;"
          }, {
            "description" : "",
            "name" : "WmsServer",
            "sensitive" : false,
            "value" : "10.2.1.51;port=1433;"
          }, {
            "description" : "",
            "name" : "UrlJdbcMsSql",
            "sensitive" : false,
            "value" : "jdbc:sqlserver://"
          }, {
            "description" : "",
            "name" : "ObmenMagentaZnO",
            "sensitive" : false,
            "value" : "http://mars:8082/alpha/hs/ObmenNiFi/MagentaZnO/NiFi_Info"
          }, {
            "description" : "",
            "name" : "HttpSessionId",
            "sensitive" : false,
            "value" : "http://84.23.54.182/rest/2/authentication/createSession?accountID=alpha&user=erpapi&password=yasle5193m "
          }, {
            "description" : "",
            "name" : "ServerMsSql92",
            "sensitive" : false,
            "value" : "10.2.1.92;port=1433;"
          }, {
            "description" : "",
            "name" : "DriverClassMsSqlJdbc",
            "sensitive" : false,
            "value" : "com.microsoft.sqlserver.jdbc.SQLServerDriver"
          }, {
            "description" : "",
            "name" : "MsSqlAbomApiDB",
            "sensitive" : false,
            "value" : "database=reports_abomAPI;"
          }, {
            "description" : "",
            "name" : "DriverLocation",
            "sensitive" : false,
            "value" : "/drivers_nifi/sqljdbc_10.2/rus/mssql-jdbc-10.2.0.jre8.jar"
          }, {
            "description" : "",
            "name" : "Bearer",
            "sensitive" : false,
            "value" : "Bearer bddba698214e6a4de9ae38bce45435fd"
          }, {
            "description" : "",
            "name" : "UrlApiABOM",
            "sensitive" : false,
            "value" : "http://10.2.2.92:9601/"
          }, {
            "description" : "",
            "name" : "supplier-refusals",
            "sensitive" : false,
            "value" : "${sql.args.1.value}"
          } ]
        }
      }
    }
  }
}